<app-header></app-header>
<div class="view" id="landing">
    <div id="carousel-wrapper">
        <!-- FOR AUTOPLAY -->
        <div id="carousel" class="carousel slide" data-ride="carousel"> 
        <!-- <div id="carousel" class="carousel slide" data-interval="false"> -->
            <div class="carousel-inner">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                </ol>

                <div class="slide-1 item active">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="logo">
                                <img src="assets/images/landing_logo.png" />
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="tagline-wrapper">
                                <div class="tagline">
                                    <p><span>To</span> Unlimit</p>
                                    <p><span>the</span> World</p>
                                    <p><span>of</span> Work</p>
                                </div>
                                <hr>
                                <p class="purpose">Our main purpose</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-2 item">
                    <div class="row">
                        <div class="col-lg-5">
                           <div class="award">
                               <img src="assets/images/carousel-award.png" />
                           </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="award-desc">
                                <div class="desc">
                                    <p class="title">Biz Apps Customer <br>Recruit Award</p>
                                    <hr>
                                    <p>Partner of the Year <br>Microsoft Philippines Partner <br>Awards FY20</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a class="left carousel-control" href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="hiring-btn">
            <div>
                <p>We are hiring! <br> <span>Click here to know more</span></p>
            </div>
        </div>
    </div>
    <div id="wyn">
        <div class="wyn-wrapper">
            <div class="section-title">WHAT DO YOU NEED?</div>
            <div class="row wyn-list">
                <div class="col-lg-4">
                    <div class="item" id="business">
                        <h2>Do you need to <br>consult about your <br><span>business apps</span>?</h2>
                        <hr>
                        <p>Our business application experts deliver advisory and system design solutions in the areas of process transformation, operational performance, customer engagement, and workforce productivity. </p>
                        <div class="learn-btn">
                            <a hef="" [routerLink]="['/businessapp']"><button>Learn More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item" id="partnership">
                        <h2>Do you need to <br>unlock <span>strategic <br>business apps</span>?</h2>
                        <hr>
                        <p>Expert services from to senior level consultants to unlock strategic adoption of new technologies and processes, closely aligned with your business and your other technology partners.</p>
                        <div class="learn-btn">
                            <a hef="" [routerLink]="['/partnership']"><button>Learn More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item" id="solutions">
                        <h2>Do you need to <br>develop <span>design <br>thinking solutions</span>?</h2>
                        <hr>
                        <p>Design and delivery of services, strategic insight and products that build on the human strength and uniqueness of your business and your customers.</p>
                        <div class="learn-btn">
                            <a hef="" [routerLink]="['/design']"><button>Learn More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="op">
        <div class="section-title">OUR PARTNERSHIPS</div>
        <div class="op-content">
            <p>In everything we do, we make sure to create value for our clients. Hear from our previous and current partners about our journey together.</p>
            <div class="partner-videos">
                <div class="row" id="jimini">
                    <div class="col-lg-8">
                        <div class="video-container">
                            <div class="name">Jimini Pizza</div>
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/9xBWFfZKdXc"  loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="video-desc">
                            <h2>Jimini Pizza</h2>
                            <hr>
                            <p>Serving 330 kiosks and 1200 stations nationwide, they needed a more mobile and convenient POS system to help streamline all reporting activities. Find out how they are empowered by partner Kation Technologies with Microsoft solutions.</p>
                        </div>
                    </div>
                </div>

                <div class="row" id="messy-bessy">
                    <div class="col-lg-4">
                        <div class="video-desc">
                            <h2>Messy Bessy</h2>
                            <hr>
                            <p>A social enterprise and SMB from the Philippines, is making use of an advanced ERP system to improve their operations and grow their business. </p>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="video-container">
                            <div class="name">Messy Bessy</div>
                            <iframe width="100%" height="500" src="https://www.youtube.com/embed/J-Ng9Rob18Q" loading="lazy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>