#landing {

    .row {
        height: 100%;

        & > div {
            height: 100%;
        }
    }

    p {
        font-size: 1.5rem;
        line-height: 1.8;
    }

    #carousel-wrapper {
        position: relative;

        .carousel-indicators li {
            border: 1px solid #CBCBCB;
            margin: 1px 3px;
        }

        .carousel-indicators .active {
            background-color: #CBCBCB;
        }

        .carousel-control {
            width: 3%;
        }

        .carousel-control.right, .carousel-control.left {
            background-image: none;
        }

        .slide-1 {
            height: 650px;
    
            .logo {
                display: flex;
                height: 100%;
                align-items: center;
                justify-content: center;
    
                img {
                    max-width: 485px;
                    max-height: 555px;
                }
            }
    
            .tagline-wrapper {
                position: absolute;
                top: 30%;
                width: 100%;
                left: -2%;
    
                .tagline {
                    width: 70%;
                    margin: 0 0 0 90px;
                    text-align: center;
                    position: relative;
        
                    p {
                        font-family: "Montserrat-Bold";
                        font-size: 6rem;
                        line-height: 1;
                        text-transform: uppercase;
        
                        span {
                            font-family: "Montserrat-Light";
                            text-transform: none;
                        }
                    }
        
                    &::before {
                        content: "";
                        position: absolute;
                        left: 32px;
                        top: -70px;
                        background-image: url('../../../assets/images/slide-img-1.png');
                        height: 120px;
                        width: 120px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        right: 90px;
                        bottom: -8px;
                        background-image: url('../../../assets/images/three-arrows.png');
                        height: 50px;
                        width: 50px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }

                hr {
                    width: 20%;
                    border: 1px solid black;
                    margin: 0 0 0 250px;
                }

                .purpose {
                    font-family: "Montserrat-ItalicBold";
                    margin: 0 0 0 250px;
                    font-size: 2rem;
                }
            }

            .left-container {
                background-color: #DAE1E5;
            }

            .right-container {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    right: 30px;
                    bottom: 0;
                    width: 200px;
                    height: 450px;
                    background-image: url('../../../assets/images/landing-image-3.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: -82px;
                    bottom: 0;
                    width: 280px;
                    height: 350px;
                    background-image: url('../../../assets/images/landing-image-2.png');
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }
        }
    
        .slide-2 {
            background-image: url('../../../assets/images/slide-image-2.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 650px;
    
            .award {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
    
                img {
                    width: 500px;
                    height: 500px;
                }
            }
    
            .award-desc {
                background-color: #DAE1E5;
                position: absolute;
                top: 25%;
                left: 3%;
    
                hr {
                    border: 1px solid black;
                }
    
                .desc {
                    padding-top: 5rem;
                    
                    p {
                        font-size: 3rem;
                        font-family: "Montserrat-Bold";
                        line-height: 1.5;
                        clear: both;
    
                        &.title {
                            font-family: "Montserrat-Light";
                            font-size: 4rem;
                            line-height: 1.2;
                        }
                    }
    
                    &::before {
                        content: "";
                        position: absolute;
                        left: 2px;
                        top: -105px;
                        background-image: url('../../../assets/images/slide-img-3.png');
                        height: 150px;
                        width: 150px;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }

                    hr {
                        width: 40%;
                        float: left;
                        margin: 5px 0;
                    }
                }
            }
        }

        .hiring-btn {
            position: absolute;
            bottom: 10px;
            right: 0;
            bottom: 13%;
            cursor: pointer;

            div {
                background-color: #18488A;
                padding: 15px 30px 15px 50px;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;
                pointer-events: none;

                p {
                    color: white;
                    margin: 0;
                    text-align: center;
                    font-size: 2rem;
                    text-transform: uppercase;
                    line-height: 1;
                    font-family: "Montserrat-Bold";

                    span {
                        font-size: 1.2rem;
                        font-family: "Montserrat-Italic";
                        text-transform: capitalize;
                    }
                }
            }
        }
    }

    #wyn {
        padding: 4rem 0 13rem 0;

        .wyn-list {
            margin: 5rem auto 0 auto;
            width: 95%;

            .item {
                height: 600px;
                background-color: #18488A;
                border-radius: 25px;
                background-image: url('../../../assets/images/icons/buss-icon.png');
                background-size: 70px 70px;
                background-repeat: no-repeat;
                padding: 120px 20px 20px 20px;
                background-position: 20px 20px;

                h2 {
                    margin: 0;
                    font-size: 3rem;
                    line-height: 1.2;

                    span {
                        font-family: "Montserrat-Bold";
                    }
                }

                hr {
                    width: 45%;
                    float: left;
                    border: 2px solid white;
                    margin: 10px 0;
                }

                p {
                    clear: both;
                    margin: 8rem 0 0 0;
                    width: 90%;
                    line-height: 1.8;
                }

                .learn-btn {
                    position: absolute;
                    bottom: 50px;
                    left: 20px;
                    right: 20px;
                    text-align: center;

                    button {
                        width: 200px;
                        color: white;
                        background-color: transparent;
                        border: 2px solid white;
                        border-radius: 50px;
                        padding: 10px 0;
                        font-size: 1.4rem;
                        text-transform: uppercase;
                    }
                }
            }

            #business {
                color: white;
            }

            #partnership {
                background-color: #F4BA6D;
                background-image: url('../../../assets/images/icons/strat-icon.png');
                background-size: 75px 70px;

                hr {
                    border-color: black;
                }

                .learn-btn {
                    button {
                        border-color: black;
                        color: black;
                    }
                }
            }

            #solutions {
                background-color: #466F7A;
                background-image: url('../../../assets/images/icons/des-icon.png');
                background-size: 45px 70px;
                color: white;
            }
        }
    }

    #op {
        position: relative;
        background-color: #DAE1E5;
        padding: 8rem 0 5rem 0;

        .section-title {
            position: absolute;
            top: -35px;
            left: 0;
        }

        hr {
            border: 1px solid black;
            width: 40%;
            margin-top: 10px;  
            float: left;       
        }

        .op-content {
            width: 90%;
            margin: auto;

            .partner-videos {
                margin-top: 5rem;

                & > div {
                    height: 750px;
                }

                .video-container {
                    .name {
                        text-align: center;
                        font-size: 2rem;
                        letter-spacing: 2px;
                        color: white;
                        background-color: #18488A;
                        font-family: "Montserrat-Bold";
                        padding: 15px 0;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                    }
                }

                .video-desc {
                    padding-top: 15rem;

                    h2 {
                        margin: 0;
                    }

                    p {
                        clear: both;
                    }
                }

                #jimini {
                    background-image: url('../../../assets/images/jimini-bg.png');
                    background-repeat: no-repeat;
                    background-position: 100% 100%;
                    background-size: 260px;
                }

                #messy-bessy {
                    margin-top: 8rem;
                    background-image: url('../../../assets/images/messybessy-bg.png');
                    background-repeat: no-repeat;
                    background-position: 8% 100%;
                    background-size: 200px;

                    hr {
                        float: right;
                    }

                    .video-desc {
                        text-align: right;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #landing {
        #carousel-wrapper {
            .slide-1 {
                .logo {
                    img {
                        max-width: 350px;
                        max-height: 350px;
                    }
                }
                
                .tagline-wrapper {
                    .tagline {
                        width: 80%;
                        margin: 0 0 0 30px;

                        p {
                            font-size: 4rem;
                        }
                    }

                    .purpose, hr {
                        margin: 0 0 0 180px;
                    }
                }

                .right-container {
                    &::after {
                        width: 190px;
                        height: 420px;
                    }

                    &::before {
                        width: 260px;
                        height: 335px;
                    }
                }

            }
        }

        #wyn {
            .wyn-list {
                .item {
                    height: 700px;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    #landing {
        #carousel-wrapper {
            .slide-1, .slide-2 {
                background-image: none;
                background-color: #DAE1E5;
                height: auto;

                .row {
                    & > div {
                        height: 40vh;
                    }
                }
            }

            .slide-1 {
                .right-container {
                    &::before, &::after {
                        display: none;
                    }
                }

                .tagline-wrapper {
                    top: 70px;
                    left: 0;

                    .tagline {
                        &::before {
                            left: -20px;
                            bottom: -54px;
                            top: revert;
                        }

                        &::after {
                            right: 45px;
                            bottom: -5px;
                        }
                    }

                    hr {
                        margin: 0 0 0 200px;
                    }

                    .purpose {
                        margin: 0 0 0 200px;
                        font-size: 2.5rem;
                    }
                }
            }

            .slide-2 {
                .award-desc {
                    position: relative;
                    width: 70%;
                    margin: auto;
                    top: 10%;
                }
            }
        }

        #wyn {
            background-color: #DAE1E5;

            .wyn-list {
                .item {
                    width: 80%;
                    margin: 20px auto;
                }
            }
        }

        #op {
            .op-content {
                .partner-videos {
                    iframe {
                        height: 300px;
                    }

                    & > div {
                        height: auto;
                    }

                    #jimini {
                        background-image: none;
                    }

                    .video-desc {
                        padding-top: 20px;
                    }

                    #messy-bessy {
                        background-image: none;
                        margin-top: 20px;

                        .video-desc {
                            text-align: left;
                        }

                        hr {
                            float: left;
                        }
                    }
                }
            }

            #op {
                .op-content {
                    .partner-videos {
                        iframe {
                            height: 300px;
                        }
    
                        & > div {
                            height: auto;
                        }
    
                        #jimini {
                            background-image: none;
                        }
    
                        .video-desc {
                            padding-top: 20px;
                        }
    
                        #messy-bessy {
                            background-image: none;
                            margin-top: 20px;
    
                            .video-desc {
                                text-align: left;
                            }
    
                            hr {
                                float: left;
                            }
                        }
                    }
                }
            }
        }
    }

    .reverse-on-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    #landing {
        #carousel-wrapper {
            .slide-1, .slide-2 {
                
                .row {
                    & > div {
                        height: 50vh;
                    }
                }

                .logo {
                    img {
                        max-width: 400px;
                        max-height: 400px;
                    }
                }

                .tagline-wrapper {
                    top: 0;

                    .tagline {
                        width: 100%;
                        margin: auto;

                        p {
                            font-size: 5.5rem;
                        }

                        &::before {
                            left: 80px;
                            bottom: -25px;
                            height: 80px;
                            width: 80px;
                            top: revert;
                        }

                        &::after {
                            right: 100px;
                            bottom: -4px;
                        }
                    }

                    hr {
                        margin: 0 0 0 175px;
                    }

                    .purpose {
                        margin: 0 0 0 175px;
                        font-size: 2.3rem;
                    }
                }

                .right-container {
                    &::before, &::after {
                        display: none;
                    }
                }
            }

            .hiring-btn {
                bottom: 130px;
            }

            .slide-2 {
                background-color: white;

                .award {
                    img {
                        width: 250px;
                        height: 250px;
                    }
                }

                .award-desc {
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: white;

                    .desc {
                        padding: 0;

                        &::before {
                            display: none;
                        }

                        p {
                            font-size: 2rem;
                            text-align: center;

                            &.title {
                                font-size: 3rem;
                                text-align: center;
                                line-height: 1.5;
                            }
                        }
                    }

                    hr {
                        width: 50%;
                    }
                }

                .row {
                    & > div {
                        &:first-child {
                            height: 40vh;
                        }

                        &:last-child {
                            height: 60vh;
                        }
                    }
                }
            }

            .carousel-control {
                width: 50px;
            }
        }
    }
}

@media (max-width: 480px) {
    #landing {
        #carousel-wrapper {
            .slide-1, .slide-2 {
                background-image: none;
                background-color: #DAE1E5;
                height: auto;
                
                .row {
                    & > div {
                        height: 50vh;
                    }
                }

                .logo {
                    img {
                        max-width: 300px;
                        max-height: 300px;
                    }
                }

                .tagline-wrapper {
                    top: 0;

                    .tagline {
                        width: 100%;
                        margin: auto;

                        p {
                            font-size: 4rem;
                        }

                        &::before {
                            left: 48px;
                            bottom: -15px;
                            height: 60px;
                            width: 60px;
                            top: revert;
                        }

                        &::after {
                            right: 50px;
                            bottom: -11px;
                        }
                    }

                    hr {
                        margin: 0 0 0 119px;
                    }

                    .purpose {
                        margin: 0 0 0 119px;
                        font-size: 1.5rem;
                    }
                }

                .right-container {
                    &::before, &::after {
                        display: none;
                    }
                }
            }

            .hiring-btn {
                bottom: 80px;
            }

            .slide-2 {
                background-color: white;

                .award {
                    img {
                        width: 250px;
                        height: 250px;
                    }
                }

                .award-desc {
                    top: 0;
                    left: 0;
                    right: 0;
                    background-color: white;

                    .desc {
                        padding: 0;

                        &::before {
                            display: none;
                        }

                        p {
                            font-size: 2rem;
                            text-align: center;

                            &.title {
                                font-size: 3rem;
                                text-align: center;
                                line-height: 1.5;
                            }
                        }
                    }

                    hr {
                        width: 50%;
                    }
                }

                .row {
                    & > div {
                        &:first-child {
                            height: 40vh;
                        }

                        &:last-child {
                            height: 60vh;
                        }
                    }
                }
            }

            .carousel-control {
                width: 50px;
            }
        }

        #wyn {
            background-color: #DAE1E5;

            .wyn-list {
                .item {
                    margin-bottom: 20px;
                }
            }
        }

        #op {
            .op-content {
                .partner-videos {
                    iframe {
                        height: 300px;
                    }

                    & > div {
                        height: auto;
                    }

                    #jimini {
                        background-image: none;
                    }

                    .video-desc {
                        padding-top: 20px;
                    }

                    #messy-bessy {
                        background-image: none;
                        margin-top: 20px;

                        .video-desc {
                            text-align: left;
                        }

                        hr {
                            float: left;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 380px) {
    #landing {
        #carousel-wrapper {
            .slide-1 {
                .tagline-wrapper {
                    .tagline {
                        margin: 20px auto;

                        &::after {
                            right: 25px;
                        }

                        &::before {
                            left: 20px;
                        }
                    }
                }
            }

            .hiring-btn {
                bottom: 25px;
            }

            .carousel-indicators {
                bottom: -10px;
            }
        }

        #wyn {
            .wyn-list {
                .item {
                    height: 700px;
                }
            }
        }
    }
}