<app-header></app-header>
<div class="view" id="landing">
    <div class="content-wrapper display-flex">
        <div class="logo-wrapper">
            <div class="logo"><img src="assets/images/landing_logo.png" loading="lazy"></div>
        </div>
        <div class="content">
            <div class="landing-details">
                <div class="content-image-1"><img src="assets/images/landing-image-1.png" loading="lazy"></div>
                <div class="tagline">
                    <p><span>Bringing</span> Opportunities</p>
                    <p><span>and</span> co-creation</p>
                    <p><span>to</span> unlimit</p>
                    <span>the world’s digital workforce.</span>
                </div>
            </div>
        </div>
    </div>
</div>
