@import '../../constants.scss';

#landing {
    #carousel-wrapper {
        height: 650px;
        position: relative;

        .with-bg {
            background-image: url('../../../assets/images/bg.png');
            background-size: 100%;

            .left-container {
                padding: 4rem 0 6rem 0;
    
                .logo-wrapper {
                    width: 75%;
                    margin: auto;
                }
            }
    
            .right-container {
                padding: 4rem 0 0 10rem;
                position: relative;
                height: 650px;

                .tagline-wrapper {
                    margin-top: 1rem;

                    .carousel-image-1 {
                        width: 100px;
                    }

                    p {
                        margin-top: 20px;
                        font-weight: bold;
                        font-size: 3.5rem;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    background-image: url('../../../assets/images/landing-image-2.png');
                    width: 320px;
                    height: 320px;
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: 80% 100%;
                    left: -100px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    background-image: url('../../../assets/images/landing-image-3.png');
                    width: 250px;
                    height: 420px;
                    background-position: bottom;
                    background-repeat: no-repeat;
                    background-size: 80% 100%;
                    right: 0;
                }
            }
        }

        .left-container {
            .award-image-wrapper {
                padding: 5rem 0 0 0;
    
                .award-image {
                    width: 500px;
                    z-index: 2;
                    margin-left: 11rem;
        
                    .image {
                        width: 500px;
                        height: 500px;
                        margin: auto;
                        
                        img {
                            height: 100%;
                        }
                    }
        
                    .border {
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }

        .right-container {
            height: 650px;
            padding: 7rem 0 0 10rem;

            .awards-wrapper {
                .content-image-2 {
                    width: 100px;
                }

                .award-desc {
                    margin-top: 20px;
                    p {
                        font-weight: bold;
                        font-size: 3.5rem;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 10px;
                        background-image: url('../../../assets/images/carousel-2.png');
                        width: 250px;
                        height: 420px;
                        background-position: bottom;
                        background-repeat: no-repeat;
                        background-size: 80% 100%;
                        right: 20px;
                    }
                }
            }
        }

        .carousel-indicators li {
            border: 1px solid #CBCBCB;
            margin: 1px 3px;
        }

        .carousel-indicators .active {
            background-color: #CBCBCB;
        }

        .carousel-control {
            width: 3%;
        }

        .carousel-control.left, .carousel-control.right {
            background-image: none;
        }

        .we-are-hiring {
            position: absolute;
            right: 0;
            bottom: 10rem;

            .btn {
                background-color: #ED672C;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                padding: 1rem 4rem;

                p {
                    font-size: 2rem;
                    color: white;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin: 0;
                }

                span {
                    color: white;
                    font-style: italic;
                    font-weight: 100;
                }
            }
        }
    }

    .landing-details {
        background-image: url('../../../assets/images/bg.png');
        background-size: 100%;
        padding: 2rem 0;

        #what-we-do {
            margin-top: 3rem;

            .wwd-details {
                padding: 4rem;

                .wwd-item {
                    border: 3px solid white;
                    border-radius: 20px;
                    padding: 20px 30px;
                    height: 450px;
                    position: relative;

                    .item-icon {
                        width: 50px;
                    }

                    .custom-size {
                        width: 25px;
                        height: 40px;
                    }

                    h2 {
                        color: white;
                        font-size: 3.5rem;
                    }

                    .item-desc {
                        color: white;
                        margin-top: 7rem;
                        font-size: 1.5rem;
                    }

                    .know-more {
                        position: absolute;
                        bottom: 30px;
                        text-align: center;
                        left: 0;
                        right: 0;

                        .btn {
                            border: 1px solid white;
                            width: 200px;
                            color: white;
                            text-transform: uppercase;
                        }
                    
                    }
                }
            }
        }

        #partnership {
            margin-top: 5rem;

            .p-details {
                padding: 0 5rem;
                margin-top: 20px;
                font-size: 1.6rem;

                .jimini {
                    padding: 5rem 0 3rem 0;

                    .bg-image {
                        max-width: 300px;
                        text-align: right;
                        float: right;
                        margin-top: 14rem;
                    }
                }

                .testimonial-video {
                    width: 98%;
    
                    .customer-testimonial {
                        background-color: $dark-blue;
                        padding: 20px 0;
                        text-align: center;
                        color: white;
                        font-weight: bold;
                        letter-spacing: 2px;
                        font-size: 1.6rem;
                    }
    
                    .see-more-wrapper {
                        margin-top: 30px;
                        text-align: center;
    
                        button {
                            padding: 10px 30px;
                            text-transform: uppercase;
                        }
                    }
                }

                .testi-desc {
                    margin-top: 13rem;

                    h2 {
                        font-weight: bold;
                    }

                    p {
                        line-height: 1.5;
                    }
                }

                .messy-bessy {
                    .testi-desc {
                        text-align: right;
                    }
                    
                    .bg-image {
                        width: 300px;
                        float: right;
                        margin-top: 19rem;                    
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #landing {
        .section-title {
            width: 40%;
        }

        #carousel-wrapper {
            .with-bg {
                .right-container {
                    &::after {
                        display: none;
                    }
                }
            }

            .left-container {
                .award-image-wrapper {
                    .award-image {
                        width: 500px;
                        margin: 0;

                        .image {
                            width: 450px;
                            height: 450px;
                        }
                    }
                }
            }

            .right-container {
                .awards-wrapper {
                    .award-desc {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        .landing-details {
            #what-we-do {
                .wwd-details {
                    .wwd-item {
                        height: 550px;

                        .item-desc {
                            &.res-margin {
                                margin-top: 11rem;
                            }
                        }
                    }
                }
            }

            #partnership {
                .p-details {
                    .testi-desc {
                        margin-top: 2rem;
                    }

                    .jimini {
                        .bg-image {
                            margin-top: 2rem;
                        }
                    }

                    .messy-bessy {
                        .testi-desc {
                            text-align: left;
                        }

                        .bg-image {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    #landing {
        .with-bg, .landing-details {
            background-image: none;
        }

        .section-title {
            width: 90%;
        }

        .landing-details {
            #what-we-do {
                .wwd-details {
                    .wwd-item {
                        height: 580px;
                        margin-bottom: 10px;
                    }
                }
            }

            #partnership {
                .p-details {
                    .testi-desc {
                        margin-top: 2rem;
                    }

                    .jimini {
                        .bg-image {
                            margin-top: 2rem;
                        }
                    }
                }
            }
        }
    
        #carousel-wrapper {
            display: none;
        }

        iframe {
            height: auto;
        }
    }

    .section-title {
        width: 90%;
    }
}