<footer>
    <div class="display-flex">
        <div class="links">
            <div class="display-flex">
                <div><a href="" [routerLink]="['/businessapp']">Business Apps</a></div>
                <div><a href="" [routerLink]="['/humaneapp']">Humane Apps</a></div>
                <div><a href="" [routerLink]="['/hybridapp']">Hybrid Apps</a></div>
            </div>
            <div class="socials display-flex">
                <div class="logo"><img src="assets/images/about-us-logo.png"></div>
                <div class="icons display-flex">
                    <div><img src="assets/images/icons/fb.png"></div>
                    <div><img src="assets/images/icons/in.png"></div>
                </div>
            </div>
        </div>
        <div class="contacts">
            <div class="address display-flex">
                <div><img class="icon" src="assets/images/icons/icon-5.png"></div>
                <div>Ground Floor Topy’s Place Building No. 7 Libis, Calle Industria, <br>Bagumbayan, Quezon City, Metro Manila</div>
            </div>
            <div class="display-flex">
                <div><img class="icon" src="assets/images/icons/icon-6.png"></div>
                <div>contact@kationtechnologies.com</div>
            </div>
            <div class="display-flex">
                <div><img class="icon" src="assets/images/icons/icon-7.png"></div>
                <div>+632 87062959</div>
            </div>
        </div>
    </div>
</footer>