<footer>
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="logo-socials">
                <div class="logo"><img src="assets/images/logo.png" loading="lazy"></div>
                <div class="socials">
                    <div><a href="https://www.facebook.com/kationtechnologies" target="blank"><i class="fab fa-facebook-square"></i></a></div>
                    <div><a href="https://www.linkedin.com/company/kation-technologies-inc./" target="blank"><i class="fab fa-linkedin"></i></a></div>
                </div>
            </div>
            <ul>
                <li><div><a href="" [routerLink]="['/landing']">Home</a></div></li>
                <li><div><a href="" [routerLink]="['/aboutus']">About Us</a></div></li>
                <li><div><a href="" [routerLink]="['/services']">Services</a></div></li>
                <li><div><a href="" [routerLink]="['/careers']">Careers `</a></div></li>
            </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <div class="address">
                <p><i class="fas fa-phone-alt"></i>+632 87062959</p>
                <p><i class="fas fa-envelope"></i>contact@kationtechnologies.com</p>
                <p><i class="fas fa-map-marker-alt"></i>Ground Floor Topy’s Place Building No. 7 Libis, Calle Industria, Bagumbayan, Quezon City, Metro Manila</p>
            </div>
        </div>
    </div>
</footer>

<!-- <footer>
    <div class="links">
        <div class="socials">
            <div class="logo"><img src="assets/images/logo.png" loading="lazy"></div>
            <div class="icons display-flex">
                
                
            </div>
        </div>
        
    </div>
    
</footer> -->