@import '../../constants.scss';

footer {
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .links {
        flex: 1.5;

        ul {
            list-style: none;
            padding: 0 0 0 10px;
            margin: 0;

            li {
                margin-right: 10px;
                display: inline-block;


                div {
                    text-align: center;

                    a {
                        font-size: 1.4rem;
                        text-align: center;
                    }
                }
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            align-content: center;

            & > div {
                flex: 1;
                align-content: center;
            }

            .icons {
                padding-left: 20px;

                & > div {
                    display: inline-block;
                    
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

    .address {
        flex: 1;
        
        .display-flex {
            justify-content: end;
            text-align: right;
            font-size: 1.4rem;
            margin-bottom: 5px;
            
            .icon {
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        .links {
            flex: 1;
        }
    }
}

// @media (max-width: $tablet) {
//     footer {
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         text-align: center;

//         .links {
//             ul {
//                 display: block;
//                 li {
//                     margin-bottom: 10px;
//                 }
//             }
//             .socials {
//                 .logo {
//                     width: 60%;
//                     margin: auto;
//                 }

//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 text-align: center;
//             }
//         }

//         .address {
//             .display-flex {
//                 text-align: center;
//                 justify-content: center;
//             }
//         }
//     }
// }

// @media (max-width: $mobile) {
//     footer {
//         padding-left: 10px;
//         padding-right: 10px;
//     }
// }

