@import '../../constants.scss';

footer {
    padding: 1.5rem;
    box-sizing: border-box;

    .display-flex {
        & > div {
            justify-content: space-between;
            flex: 1;
        }

        .contacts {
            text-align: right;
            
            .display-flex {
                justify-content: flex-end;
                margin-top: 10px;

                & > div {
                    flex: none;
                    justify-content: flex-end;
                    font-size: .75rem;
                }
            }

            .icon {
                width: 10px;
                height: 10px;
                margin-right: 5px;
            }
        }

        .links {
            margin-top: 20px;

            .display-flex {
                & > div {
                    flex: none;
                    margin: 0 1rem;
                    font-size: 0.75rem;
                }
            }
        }

        .socials {
            margin-top: 10px;
            .logo {
                max-width: 350px;
            }

            .icons {
                align-items: center;

                div {
                    width: 30px;
                    height: 30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    footer {
        & > .display-flex {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .display-flex {
            .links {
                .display-flex {

                    & > div.icons {
                        margin: 10px auto;
                        justify-content: center;
                    }
                }

                & > .display-flex {
                    & > div {
                        flex: 1;
                    }
                }

                .socials {
                    flex-direction: column;
                }
            }

            .socials {
                .logo {
                    width: 100%;
                    margin: 0 !important;
                }

                .icons {
                    text-align: center;
                }
            }

            .contacts {
                text-align: left;

                & > .display-flex {
                    display: block;
                    justify-content: flex-start;
                }

                .display-flex {
                    & > div {
                        text-align: left;
                        display: inline;
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    footer {
        & > .display-flex {
            display: block;
        }

        .display-flex {
            .links {
                .display-flex {

                    & > div.icons {
                        margin: 10px auto;
                        justify-content: center;
                    }
                }

                & > .display-flex {
                    display: block;
                    text-align: center;
                    
                    & > div {
                        margin-bottom: 10px;
                    }
                }
            }

            .socials {
                .logo {
                    width: 100%;
                    margin: 0 !important;
                }

                .icons {
                    text-align: center;
                }
            }

            .contacts {
                text-align: left;

                & > .display-flex {
                    display: block;
                    justify-content: flex-start;
                }

                .display-flex {
                    & > div {
                        text-align: left;
                        display: inline;
                    }
                }
            }
        }
    }
}