@import '../../constants.scss';

footer {
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

    .links {
        flex: 1.5;

        ul {
            list-style: none;
            padding: 0 0 0 10px;
            margin: 0;

            li {
                margin-right: 10px;
                display: inline-block;


                div {
                    text-align: center;

                    a {
                        font-size: 1.4rem;
                        text-align: center;
                    }
                }
            }
        }

        .socials {
            display: flex;
            justify-content: center;
            align-content: center;

            & > div {
                flex: 1;
                align-content: center;
            }

            .icons {
                padding-left: 20px;

                & > div {
                    display: inline-block;
                    
                    img {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }

    .address {
        p {
            text-align: right;

            i {
                color: #18488A;
                margin-right: 3px;
            }
        }
    }
}

@media (max-width: 1024px) {
    footer {
        .links {
            flex: 1;
        }
    }
}

@media (max-width: 400px) {
    footer {
        flex-direction: column;

        .links {
            .socials {
                flex-direction: column;
                
                .icons {
                    justify-content: center;
                }
            }

            ul {
                text-align: center;
            }
        }

        .address {
            margin-top: 20px;

            p {
                text-align: center;
            }
        }
    }
}