@import '../../../constants.scss';

.wrapper {

    h3 {
        color: $greyish;
        text-align: center;
    }

    p {
        font-size: .85rem;
        line-height: 1.8;
        width: 90%;
        margin: auto;
        margin-bottom: 10px;
    }
}

mat-dialog-actions {
    label {
        cursor: pointer;
    }
}

mat-dialog-content {
    overflow: auto !important;
    padding-bottom: 10px;
}

::ng-deep .mat-checkbox-inner-container {
    border: 1px solid gray;
}

@media (max-width: $mobile) {
    .mat-dialog-actions {
        height: 0;
        min-height: 0;
    }
}