<div class="modal-wrapper">
    <mat-dialog-content>
        <div class="wrapper">
            <h3>TERMS AND CONDITIONS</h3>
            <p>We have written this policy to help you understand what information we collect, how we use it and what choices you have. Because we are an IT solutions provider, some of the concepts below may be written in a technical manner. However, rest assured that we did the best of our ability to explain these as simple as we can.</p>
            <p>We welcome your questions and comments on this policy.</p>
            <p>When you sign up to book an appointment with us, you are expressing your interest in our products and services, hence, giving us certain information voluntarily. This can include your name, email address, and phone number you used to book the appointment, and any other information you provide us. </p>
            <p>We use the information we collect to provide our products to you and your business to make them better, develop new products, and protect Kation Technologies and our users. For example, we may log how often people use two different versions of a product that can help us understand which version is better. </p>
            <p>We also use the information we collect to perform the following:</p>
            <p>Send updates, including, but not limited to, activities such as event/s, newsletters, marketing materials, and other information that we find may be of interest to you. For example--depending on your email notification settings--we may send you weekly updates on products and services that you may like</p>
            <p>You may decide to stop getting these updates by updating your account settings (or via other settings we may provide).</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <div class="close" mat-dialog-close><img src="assets/images/icons/close.png"></div>
        <mat-checkbox class="example-margin" [mat-dialog-close]="true">I have read and understood the Terms and Conditions</mat-checkbox>
    </mat-dialog-actions>
</div>