@import '../../../constants.scss';

h2 {
    font-size: 1.5rem;
}

h2, p {
    text-align: center;
}

p {
    margin: 0;
    font-size: .90rem;
}

.mat-dialog-content {
    width: 90%;
    margin: auto;
}

#survey {
    width: 80%;
    margin: 5px auto;

    .type-container {
        margin-bottom: 20px;
    }

    form {
        & > div {
            margin-bottom: 10px;
        }
    }
}

.with-input {
    div {
        flex: 1;
    }

    .input {
        padding: 10px;
        box-sizing: border-box;
        flex: 1;

        label {
            margin-top: 5px;
            flex: 1;
        }

        input {
            margin-left: 10px;
            appearance: none;
            border: 0;
            border-bottom: 1px solid black;
            text-align: center;
            padding: 5px 0;
            flex: 1;
        }

        .has-tech {
            label {
                flex: auto;
                width: 55%;
                text-align: right;
                padding-right: 10px;
                box-sizing: border-box;
            }

            input {
                flex: auto;
                width: 45%;
            }
        }
    }
}

.submit-btn {
    text-align: center;
    margin: 20px 0 0 0;
    
    .btn {
        border: 0;
        width: 100%;
        max-width: 200px;
        background-color: #ED672C;
        border: 2px solid #ED672C;
        box-shadow: inset 0 0 0 0 #ED672C;
        text-transform: uppercase;

        &:hover {
            box-shadow: inset 400px 0 0 0 #18488A;
            color: white;
            border: 2px solid #18488A;
        }

        &:disabled {
            background-color: #A8A8A8;
            border: 2px solid #A8A8A8;

            &:hover {
                box-shadow: none;
                color: white;
            }
        }
    }
}

.select-divider {
    width: 95%;
    margin: auto;
}


@media (max-width: $mobile) {
    .mat-dialog-container {
        height: 90vh;
    }

    .mat-dialog-content {
        padding: 0;
        width: 100%;
    }

    .type-container {
        flex-direction: column;

        .radio-wrapper {
            margin-bottom: 10px;
        }
    }
}
