header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 100px;
    background-color: white;
    z-index: 20;
    padding-left: 20px;
    max-width: 1500px;
    margin: auto;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);

    #mobile-menu {
        display: none;
    }

    #mobile-menu-container {
        visibility: hidden;
    }

    #web-menu {
        display: block;
    }

    #menu {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;
            display: flex;
            justify-content: flex-end;

            li {
                margin: 0 1.5rem;
                position: relative;

                a {
                    color: black;
                    font-size: 1.5rem;
                    font-weight: 400;
                    text-transform: uppercase;

                    &::after {
                        background: none repeat scroll 0 0 transparent;
                        bottom: 35px;
                        content: "";
                        display: block;
                        height: 3px;
                        left: 0%;
                        position: absolute;
                        background: #18488A;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }

                    &:hover {
                        text-decoration: none;
                        color: #18488A;

                        &::after {
                            width: 100%;
                        }
                    }

                    &.btn {
                        color: white;

                        &:hover {
                            color: #ED672C;
                            box-shadow: inset 400px 0 0 0 white;
                            text-decoration: none;

                            &:after {
                                width: 0;
                            }
                        }

                        &.isActive {
                            background-color: transparent;
                            color: #ED672C;
                            border-color: #ED672C;
                        }
                    }
                }

                i {
                    margin-left: 5px;
                    font-weight: 500;
                    cursor: pointer;
                }

                &:hover {
                    &.with-subs {
                        .sub-menu {
                            display: block;
                        }
                    }
                }
            }

            .with-subs {
                .sub-menu {
                    position: absolute;
                    display: none;
                    width: 220px;
                    text-align: left;
                    padding: 4rem 1.3rem 1.3rem 1.3rem;
                    top: 67px;
                    background-color: white;
                    z-index: 2;

                    li {
                        line-height: 1.8;
                        margin: 0 0 10px 0;

                        a {
                            font-size: 1.2rem;
                            text-transform: capitalize;

                            &:hover {
                                color: #18488A;

                                &:after {
                                    width: 0;
                                }
                            }
                        }
                    }
                }
            }

            .isActive {
                border-bottom: 3px solid #18488A;
                color: #18488A;
                padding-bottom: 5px;

                &:hover {
                    box-shadow: none;
                    color: #18488A;
                }
            }
        }
    }
}

@media (max-width: 1112px) {
    header {
        #menu {
            ul {
                li {
                    margin: 0 1rem;
                }
            }
        }
    }
}

@media (max-width: 1026px) {
    header {
        #menu {
            ul {
                li {
                    margin: 0 1rem;

                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 990px) {
    #web-menu {
        display: none !important;
    }

    #mobile-menu {
        display: block !important;
        text-align: center;

        #menu-icon {
            font-size: 3rem;
            text-align: left;
            cursor: pointer;
            position: absolute;
            left: 20px;
        }

        #logo {
            max-width: 60%;
            margin: auto;
        }
    }

    #mobile-menu-container {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s linear;

        #mobile-menu-overlay {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 98;
            overflow: hidden;
            position: fixed;
            background: #0b0b0b;
            opacity: 0; //inital
            transition: all 0.6s ease-in-out;
        }

        #mobile-menu-content-wrapper {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 99;
            position: fixed;
            outline: none !important;

            #mobile-menu-content {
                width: 0;
                height: 100%;
                background-color: #18488A;
                padding: 1.5rem;
                position: relative;
                transition: width 5s;
                transition: all 0.1s ease-in-out;

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        line-height: 1.5;
                        padding: 15px 0;
                        border-bottom: 2px solid white;
                        text-align: left;

                        a {
                            font-size: 1.4rem;
                            color: white;
                            font-weight: 500;
                            padding: 0 10px;
                            text-transform: uppercase;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        i {
                            font-size: 1.2rem;
                            color: white;
                            font-weight: bold;
                        }

                        &:last-child {
                            border: 0;

                            a {
                                padding: 10px 15px;
                                cursor: pointer;

                                &:hover {
                                    box-shadow: inset 400px 0 0 0 #18488A;
                                    color: white;
                                }

                                &:visited, &:active, &:target {
                                    background-color: white;
                                    color: #ED672C;
                                }
                            }
                        }

                        ul {
                            padding-left: 20px;

                            li {
                                border: 0;
                                line-height: 1.5;
                                display: block;

                                &:last-child {
                                    a {
                                        padding: 0 10px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            background-color: white;
                            
                            a, i {
                                color: #18488A;
                            }

                            ul {
                                background-color: #18488A;
                            }
                        }

                        &#submenu {
                            &:hover {
                                background-color: transparent;

                                a {
                                    color: white;
                                }
                            }

                            ul {
                                li {
                                    a {
                                        text-transform: capitalize;
                                    }

                                    &:hover {
                                        background-color: white;

                                        a {
                                            color: #18488A;
                                        }
                                    }

                                    &:last-child {
                                        a {
                                            &:hover {
                                                background-color: white;
                                                color: #18488A;
                                                box-shadow: none;
                                            }
                                        }   
                                    }
                                }
                            }
                        }

                        &:last-child {
                            a {
                                transition: none;
                            }

                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }

                .menu-footer {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    line-height: normal;
                    background-color: white;
                    padding: 2rem;

                    .socials {
                        display: flex;
                        font-size: 4rem;

                        & > div {
                            margin: 0 10px;

                            a {
                                color: #18488A;
                            }
                        }
                    }

                    .logo {
                        margin: 15px 0;
                    }

                    .address {
                        padding-left:  10px;
                         
                        p {
                            color: black;

                            i {
                                margin-right: 5px;
                                color: #18488A;
                            }
                        }
                    }
                }
            }
        }

        .close-btn {
            position: absolute;
            right: 20px;
            top: 10px;
            line-height: normal;
            font-size: 3rem;
            color: grey;
            z-index: 100;
            cursor: pointer;
        }
    }

    #mobile-menu-container.show-menu {
        visibility: visible !important;

        #mobile-menu-overlay {
            opacity: 0.6;
            visibility: visible;
        }

        #mobile-menu-content-wrapper {
            #mobile-menu-content {
                width: 300px;
            }
        }
    }
}

@media (max-width: 420px) {
    header {
        height: 80px;
        line-height: 80px;
    }

    #mobile-menu {
        #logo {
            max-width: 70%;
        }

        #menu-icon {
            font-size: 2.5rem;
        }
    }
}