<header>
    <div class="display-flex">
        <div class="logo"><a href="" [routerLink]="['']"><img src="assets/images/logo.png"></a></div>
        <div id="menu-mobile">
            <input type="checkbox" id="active">
            <label for="active" class="menu-btn"><span></span></label>
            <label for="active" class="close"></label>
            <div class="wrapper">
                <ul>
                    <li><a href="" [routerLink]="['/landing']">Home</a></li>
                    <li><a href="" [routerLink]="['/aboutus']">About Us</a></li>
                    <li><a href="" [routerLink]="['/services']">Services</a></li>
                    <li><a href="" [routerLink]="['/partnerWithUs']">Partner with us</a></li>
                </ul>
            </div>
        </div>
        <div id="main-menu">
            <ul class="menu display-flex">
                <li><a href="" [routerLink]="['/landing']" [ngClass]="{'isActive': currentPage === 'ladning'}">Home</a></li>
                <li><a href="" [routerLink]="['/aboutus']" [ngClass]="{'isActive': currentPage === 'aboutus'}">About Us</a></li>
                <li class="services">
                    <a href="" [routerLink]="['/services']" [ngClass]="{'isActive': currentPage === 'services' || 
                    currentPage === 'businessapp' || 
                    currentPage === 'partnership' ||
                    currentPage === 'design'}">Services</a>
                    <ul class="sub-menu">
                        <li><a href="" [routerLink]="['/businessapp']" [ngClass]="{'isActiveSub': currentPage === 'businessapp'}">Business App Consulting</a></li>
                        <li><a href="" [routerLink]="['/partnership']" [ngClass]="{'isActiveSub': currentPage === 'humaneapp'}">Co-Strategic Partnerships</a></li>
                        <li><a href="" [routerLink]="['/design']" [ngClass]="{'isActiveSub': currentPage === 'hybridapp'}">Design Thinking Solutioning</a></li>
                    </ul>
                </li>
                <li><a href="" [routerLink]="['/careers']" [ngClass]="{'isActive': currentPage === 'careers'}">Careers</a></li>
                <li class="partnerButton"><a href="" [routerLink]="['/partnerWithUs']" class="btn btn-orange btn-slide" [ngClass]="{'isActive': currentPage === 'partnerWithUs'}">Partner with us</a></li>
            </ul>
        </div>
    </div>
</header>