@import '../../constants.scss';

#humane {
    background-color: $yellow;
    height: 100%;
    background-image: url('../../../assets/images/humane-image-1.png');
    background-repeat: no-repeat;
    background-position: 107% 90%;

    section {
        display: block;
        
        .content {
            text-align: center;
            margin: auto;
            width: 90%;
            padding-top: 30px;

            p {
                text-align: left;
                color: white;
                font-size: 1rem;
                line-height: 1.8;
            }

            .text-color-black {
                color: black;
            }

            ul {
                margin: 5rem 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                li {
                    margin: 0 30px;
                    
                    a {
                        width: 200px;
                        height: 200px;
                        border-radius: 25px;
                        display: flex;
                        align-items: flex-end;
                        padding: 20px 15px;
                        border: 3px solid white;
                        text-align: left;

                        &.sales {
                            background-color: $dark-blue;
                            display: block;
                            text-align: center;

                            img {
                                max-width: 80px;
                                margin: auto;
                                pointer-events: none;
                            }
    
                            p {
                                color: white;
                                font-weight: bold;
                                pointer-events: none;
                                text-align: left;
                            }
                        }
    
                        &.kiosk {
                            background-color: $green-blue;
                            display: block;
                            text-align: center;

                            img {
                                max-width: 120px;
                                margin: 13px auto;
                                pointer-events: none;
                            }
    
                            p {
                                color: white;
                                font-weight: bold;
                            }
                        }

                        &.moo {
                            background-color: $teal;
                            display: block;
                            text-align: center;

                            img {
                                max-width: 68px;
                                margin: auto;
                                pointer-events: none;
                            }

                            p {
                                color: white;
                                font-weight: bold;
                            }
                        }
                    }

                }
            }
            
        }
    }

    .back {
        a {
            color: black;
        }

        &:before {
            background-image: url('../../../assets/images/icons/back-dark.png');
        }
    }
}

@media (max-width: $mobile) {
    #humane {
        height: auto;
        background-position: 200% 99%;
        background-size: 80%;

        section {
            .content {
                ul {
                    flex-direction: column;

                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}