#humane {
    background-color: #F4BA6D;
    position: relative;

    .content-wrapper {
        padding: 5rem 0;

        .sub-section-title {
            background-color: #ED672C;
            width: 450px;
        }

        .content {
            width: 90%;
            margin: auto;
            padding: 3rem 0;
            height: 600px; //temporary
        }
    }

    .image-divider-1 {
        position: absolute;
        width: 250px;
        bottom: -120px;
        right: 120px;
        z-index: 1;
    }
}