<app-header></app-header>
<div id="humane" class="view">
    <div class="back"><a href="" [routerLink]="['/services']">Back</a></div>
    <section class="service">
        <div class="section-title">Humane Apps</div>
        <div class="content">
            <p>Manage your business with real-world applications that will enable and support your organization’s frontliners and other critical players in your value chain. Choose from the selection below.</p>
            <ul>
                <li>
                    <a href="" [routerLink]="['/humaneapp', 'sales']" class="sales">
                        <img class="icon" src="assets/images/icons/sales.png" loading="lazy">
                        <p>Sales Coach App</p>
                    </a>
                </li>
                <li>
                    <a href="" [routerLink]="['/humaneapp', 'kioskart']" class="kiosk">
                        <img class="icon" src="assets/images/icons/kiosk.png" loading="lazy">
                        <p>KiosKart App</p>
                    </a>
                </li>
                <li>
                    <a href="" [routerLink]="['/humaneapp', 'moocentral']" class="moo">
                        <img class="icon" src="assets/images/icons/moo.png" loading="lazy">
                        <p>MOO Central</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</div>