@import '../../constants.scss';

// .wrapper {
//     height: 100vh;
// }
#pwu-form {
    height: 100vh;

    div {
        height: 100%;
    }

    .left-content {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            height: auto;
            text-align: right;
            background-image: url('../../../assets/images/landing-image-1.png');
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 100px 80px;
            padding-bottom: 80px;
            width: 75%;

            h1 {
                padding-top: 60px;
            }
        }

        &:before {
            content: '';
            background-image: url('../../../assets/images/pwu-image-1.png');
            background-size: 250px 250px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            left: 1rem;
            height: 250px;
            width: 250px;
        }

        &:after {
            content: '';
            background-image: url('../../../assets/images/pwu-image-2.png');
            background-size: 150px 320px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            right: -30px;
            height: 320px;
            width: 150px;
            z-index: 2;
        }
    }

    .right-content {
        background-color: #18488A;
        position: relative;
        
        & > div {
            position: absolute;
            bottom: 30px;
            height: auto;
            left: 0;
            right: 0;

            form {
                width: 100%;
                padding: 0 3rem;


                h1 {
                    color: #F4BA6D;
                    font-weight: bold;
                    margin-bottom: 5rem;
                }

                div {
                    height: auto;

                    input {
                        width: 100%;
                        padding: 10px;
                        margin-bottom: 10px;
                        font-size: 1.4rem;
                    }
                }
            }

            .checkbox-wrapper {
                margin-bottom: 10px;

                input {
                    width: auto;
                }

                label {
                    margin-left: 5px;
                }
            }

            .email {
                flex: 1.5;
                padding-right: 10px;
                box-sizing: border-box;
            }

            .number {
                flex: 1;
            }

            .recaptcha, .submit-btn {
                flex: 1;
            }

            .submit-btn {
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 0 0 0 2rem;
                box-sizing: border-box;
                
                .btn {
                    border: 0;
                    width: 100%;
                    max-width: 200px;
                    background-color: #ED672C;
                    border: 2px solid #ED672C;
                    box-shadow: inset 0 0 0 0 #ED672C;
                    text-transform: uppercase;
            
                    &:hover {
                        box-shadow: inset 400px 0 0 0 #18488A;
                        color: #ED672C;
                    }

                    &:disabled {
                        background-color: #A8A8A8;
                        border: #A8A8A8;

                        &:hover {
                            box-shadow: none;
                            color: white;
                        }
                    }
                }
            }

            .input-container {
                height: 65px;
                position: relative;

                .error-msg {
                    position: absolute;
                    bottom: 0;
                    font-size: 1.4rem;
                    color: red;
                    font-weight: bold;
                    padding-left: 10px;
                }
            }
        }
    }

    // .display-flex {
    //     .partner-with-us-left {
    //         flex: 1;
    //         display: flex;
    //         
    //         
    //         position: relative;

    //         div {
                

    //             h1 {
    //                 margin: 0;
    //                 padding-top: 80px;
    //             }

    //             p {
    //                 margin: 5px 0 0 0;
    //                 line-height: 1.5;
    //             }
    //         }

            

          
    //     }

    //     .partner-with-us-form {
    //         position: relative;
    //         flex: 1;
    //         
    //         padding: 20rem 3rem 0 3rem;
    //     }
        
        // .partner-with-us-form {
        //     
        //     flex: 1;
        //     
        //     padding-top: 10rem;
        //     padding-left: 3rem;
        //     padding-right: 3rem;
        //     box-sizing: border-box;
        //     color: white;
        //     padding-top: 6rem;

        //     .iam {
        //         text-align: center;
        //         display: block;
        //         margin-bottom: 10px;
        //     }

        //     h1, h2 {
        //         margin: 0 0 10px 0;
        //     }
            
        //     h1 {
        //         color: #F4BA6D;
        //     }

        //     h2 {
        //         text-transform: uppercase;
        //         font-size: 1.3rem;
        //     }

        //     p {
        //         margin: 0 0 20px 0;
        //         font-size: 0.95rem;
        //     }

        //     & > div {
        //         height: 100%;
        //     }

        //     .withData, .inComponent {
        //         position: relative;
        //         height: 100%;
                
        //         & > div {
        //             position: absolute;
        //             bottom: 10px;
        //             left: 0;
        //             right: 0;

        //             h1 {
        //                 margin-bottom: 3rem;
        //             }
        //         }
        //     }


            

        //     form {
        //         & > div {
        //             margin-bottom: 10px;
        //         }
                
                

        //         
        //     }

        //     .isNotFullForm {
        //         position: absolute;
        //         bottom: 0;
        //         left: 20px;
        //         right: 20px;

        //         &.onPage {
        //             width: 85%;
        //             margin: auto;
        //         }
        //     }

            
        // }
    // } 
}

// #pwu-form.isNotFullFormContainer{
//     height: 100%;

//     .display-flex {
//         height: 100%;

//         .partner-with-us-left {
//             div {
//                 width: 75%;
//             }
//         }
//     }
// }

// #pwu-form.onfooter {
//     height: 80vh;
// } 


// #pwu-form.fullPage {

//     .display-flex {
//         & > div {
//             flex: 1;
//             width: 50%;
//         }

//         .partner-with-us-form {
//             box-sizing: border-box;

//             .select-list {
//                 margin-top: 20px;
                
//                 div {
//                     margin-bottom: 10px;

//                     .mat-select {
//                         border: 0;
//                         font-size: .85rem;
//                         background-color: white;
//                         padding: 15px 15px 15px 30px;
//                         border: 1px solid white;
//                     }
//                 }

//                 .with-input {
//                     margin-bottom: 0;

//                     .select {
//                         flex: 1.5;
//                     }

//                     .input {
//                         flex: 1;
//                         padding-top: 0;
//                         padding-right: 0;
//                         padding-bottom: 0;

//                         label {
//                             font-size: .85rem;
//                             display: flex;
//                             align-items: flex-end;
//                             flex: 1.5;
//                         }

//                         input {
//                             background-color: transparent;
//                             border-color: white;
//                             flex: 1;
//                             color: white;

//                             &:focus-visible {
//                                 outline: none;
//                             }

//                         }
//                     }
//                 }
//             }

//             form {
//                 input {
//                     margin-bottom: 0;
//                 }

//                 .type-container {
//                     .radio-wrapper {
//                         .customer {
//                             background-color: #133A6f;
//                             border: 2px solid #133A6f;
//                         }
//                     }
//                 }

//                 .mat-select {
                
//                     &::before {
//                         left: 8px;
//                         bottom: 15px;
//                     }
//                 }
//             }
//         }

//         .terms-container {
//             display: flex;
//             align-items: center;

//             span {
//                 margin-left: 5px;
//             }
//         }
//     }
// }

// #pwu-form.view {
//     .display-flex {
//         .partner-with-us-form {
//             padding: 2rem 4rem;
//         }
//     }
// }

.termsAndConditon {
    text-decoration: underline;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
}

// .select-divider {
//     width: 95%;
//     margin: auto;
// }

::ng-deep .mat-checkbox-frame {
    border-color: white;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    color: white;
    font-size: 1.4rem;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #18488A !important;
    border: 2px solid white;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    white-space: normal;
}

::ng-deep .mat-select-disabled {
    background-color: #e1e1e1 !important;
}

// @media screen and (max-width: 1300px) {
//     #pwu-form ,#pwu-form.fullpage {
//         .display-flex {
//             .partner-with-us-left {
//                 div {
//                     background-size: 80px 70px;

//                     h1 {
//                         padding-top: 75px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: $large-screen) {
//     #pwu-form {
//         .display-flex {
//             .partner-with-us-left {
//                 div {
//                     width: 50%;
//                     padding-bottom: 0;
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 1078px) {
//     #pwu-form ,#pwu-form.fullpage {
//         .display-flex {
//             .partner-with-us-left {
//                 div {
//                     width: 60%;

//                     h1 {
//                         background-image: 80px 70px;
//                         padding-top: 70px;
//                     }
//                 }
//             }

//             .partner-with-us-form {
//                 .select-list {
//                     div.recaptcha-container {
//                         flex-direction: column;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: $small-screen) {
//     #pwu-form {
//         .display-flex {
//             .partner-with-us-left {
//                 div {
//                     width: 60%;
//                     padding-bottom: 30px;

//                     h1 {
//                         font-size: 1.5rem;
//                     }
//                 }
//             }
//         }
//     }

//     #pwu-form ,#pwu-form.fullpage {
//         .display-flex {
//             .partner-with-us-form {
//                 .select-list {
//                     div.recaptcha-container {
//                         flex-direction: column;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 845px) {
//     #pwu-form ,#pwu-form.fullpage {
//         .display-flex {
//             .partner-with-us-left {
//                 &::after {
//                     display: none;
//                 }
//             }
//         }
//     }
// }

// @media (max-width: $tablet) {
//     #pwu-form, #pwu-form.fullPage {
//         .display-flex {
//             .partner-with-us-left {
//                 display: none;
//             }

//             .partner-with-us-form {
//                 padding: 20px;

//                 form {
//                     & > div {
//                         display: block;
//                         margin: 0 auto;
//                     }

//                     .email {
//                         padding: 0;
//                     }

//                     .submit-btn {
//                         padding: 0;
//                         margin: 2rem 0;
//                     }
//                 }

//                 .isNotFullForm {
//                     position: relative;
//                     left: 0;
//                     right: 0;
//                 }
//             }
//         }
//     }

//     #pwu-form.fullPage {
//         height: auto;
        
//         .display-flex {
//             & > div {
//                 width: 100%;
//             }

//             .partner-with-us-form {
//                 padding: 20px;

//                 form {
//                     .select-list {
//                         margin-top: 20px;

//                         .with-input {
//                             display: block;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: $mobile) {
//     #pwu-form, #pwu-form.fullPage {
//         .display-flex {
//             flex-direction: column;

//             .partner-with-us-form {
//                 .select-list {
//                     div.recaptcha-container {
//                         flex-direction: column;
    
//                         .recaptcha {
//                             transform: scale(0.77) !important;
//                             -webkit-transform: scale(0.77) !important;
//                             transform-origin: 0 0 !important;
//                             -webkit-transform-origin: 0 0 !important;
//                         }
//                     }
//                 }

//                 form {
//                     .type-container {
//                         .radio-wrapper {
//                             margin-bottom: 10px;
//                         }
//                     }
//                 }

//                 .input-container {
    
//                     .error-msg {
//                         position: relative;
//                         margin: 3px 0 0 0;
//                         padding: 0;
//                     }
//                 }
//             }

//             .terms-container {
//                 flex-direction: column;
//                 align-items: normal;

//                 span {
//                     margin-left: 20px;
//                 }
//             }

//             ::ng-deep .mat-checkbox-inner-container {
//                 margin: 8px 5px 0 0;
//             }
//         }
//     }
// }