<div class="wrapper" id="pwu-form">
    <div class="display-flex">
        <div class="partner-with-us-left">
            <div>
                <h1>GET THERE.<br>TOGETHER.</h1>
                <p>Your one-stop shop technology partner, <br>for your business. </p>
            </div>
        </div>
        <div class="partner-with-us-form">
            <h1>PARTNER WITH US!</h1>
            <p>I would like to get a <b>FREE</b> copy of white paper study about:</p>
            <div class="services-wrapper">
                <h2>Services</h2>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="business">
                    <label for="business">Business Apps</label>
                </div>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="humane">
                    <label for="humane">Humane Apps</label>
                </div>
                <div class="checkbox-wrapper">
                    <input type="checkbox" id="hybrid">
                    <label for="hybrid">Hybrid Apps</label>
                </div>
            </div>
            <form>
                <div class="fullname">
                    <input type="text" placeholder="Full Name"/>
                </div>
                <div class="display-flex">
                    <div class="email">
                        <input type="text" placeholder="Email"/>
                    </div>
                    <div class="number">
                        <input type="text" placeholder="Phone Number"/>
                    </div>
                </div>
                <div class="subs-and-terms-wrapper">
                    <div class="checkbox-wrapper">
                        <input type="checkbox" id="subs">
                        <label for="subs">I allow KATION TECHNOLOGIES to reach out to me.</label>
                    </div>
                    <div class="checkbox-wrapper">
                        <input type="checkbox" id="terms">
                        <label for="terms">I have read and understood the <a href="">Terms and Conditions</a>.</label>
                    </div>
                </div>
                <div class="display-flex">
                    <div class="recaptcha">asd</div>
                    <div class="submit-btn">
                        <button class="btn btn-orange btn-slide">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
