<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-triangle-path" [fullScreen] = "true"></ngx-spinner>
<app-header *ngIf="isPage"></app-header>
<div class="wrapper" [ngClass]="{'view' : isPage, onfooter: !isPage, 'isNotFullFormContainer' : !showFullForm}" id="pwu-form">
    <div class="row">
        <div class="col-lg-6 col-md-6 left-content">
            <div>
                <h1>Bringing opportunities <br>and co-creation to unlimit <br>the world’s digital workforce.</h1>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 right-content">
            <div>
                <form [formGroup]="partnerFormGrp">
                    <h1>PARTNER WITH US!</h1>
                    <div class="fullname">
                        <input type="text" placeholder="Full Name" formControlName="name"/>
                    </div>
                    <div class="display-flex">
                        <div class="email input-container">
                            <input type="text" placeholder="Email" formControlName="email"/>
                            <div class="error-msg" *ngIf="partnerFormGrp.controls['email'].errors?.pattern">
                                Please enter a valid email address
                            </div>
                        </div>
                        <div class="number input-container">
                            <input type="text" placeholder="Phone Number" formControlName="contact_number"/>
                        </div>
                    </div>
                    <div class="subs-and-terms-wrapper">
                        <div class="checkbox-wrapper">
                            <mat-checkbox id="subs">I allow KATION TECHNOLOGIES to reach out to me.</mat-checkbox>
                        </div>
                        <div class="checkbox-wrapper terms-container">
                            <mat-checkbox id="terms" formControlName="termsAndConditon" (change)="resetValidator($event)" [checked]="acceptedTerms"> I have read and understood the</mat-checkbox>
                            <span class="termsAndConditon" (click)="showTermsAndConditions()"> Terms and Conditions</span>
                        </div>
                    </div>
                    <div class="display-flex recaptcha-container">
                        <div class="recaptcha">
                            <re-captcha 
                                class="recaptcha-box"
                                (resolved)="resolved($event)" 
                                siteKey="6LeZav4cAAAAAK6jKF3rBHeWd5g_Yx8B4T92Il4u">
                            </re-captcha>
                        </div>
                        <div class="submit-btn">
                            <button class="btn btn-orange btn-slide" [disabled]="partnerFormGrp.invalid" (click)="submitForm()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- <div class="wrapper fullPage" [ngClass]="{'view' : isPage, onfooter: !isPage, 'isNotFullFormContainer' : !showFullForm}" id="pwu-form">
    <div class="display-flex">
        
        <div class="">
            <div>
                
                
                    <div class="select-list" [ngClass]="{'isNotFullForm' : !showFullForm, 'onPage': isPage}">
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        
    </div>
</div> -->