#pwu {
    height: 100vh;

    &.onFooter {
        height: 110vh;
    }

    div {
        height: 100%;
    }

    .row {
        & > div {
            padding: 0;
        }
    }

    .left-content {
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: '';
            background-image: url('../../../assets/images/pwu-image-1.png');
            background-size: 250px 250px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            left: 1rem;
            height: 250px;
            width: 250px;
        }

        &:after {
            content: '';
            background-image: url('../../../assets/images/pwu-image-2.png');
            background-size: 150px 320px;
            background-repeat: no-repeat;
            position: absolute;
            bottom: 0;
            right: -37px;
            height: 320px;
            width: 150px;
            z-index: 2;
        }

        .tagline-wrapper {
            height: auto;

            .tagline {
                width: 100%;
                margin: auto;
                text-align: center;
                position: relative;
                padding-left: 10rem;
    
                p {
                    font-family: "Montserrat-Black";
                    font-size: 4rem;
                    line-height: 1;
                    text-transform: uppercase;
                    color: #18488A;
    
                    span {
                        font-family: "Montserrat-Light";
                        text-transform: none;
                        color: black;
                    }
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    left: 29px;
                    top: -65px;
                    background-image: url('../../../assets/images/slide-img-1.png');
                    height: 100px;
                    width: 100px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }

            hr {
                width: 30%;
                border: 1px solid black;
                margin: 10px auto;
            }

            .purpose {
                font-family: "Montserrat-ItalicBold";
                text-align: center;
                font-size: 1.5rem;
                margin-left: 4rem;
            }
        }
    }

    .right-content {
        background-color: #18488A;

        .form-wrapper {
            position: absolute;
            left: 5rem;
            right: 5rem;
            bottom: 4rem;
            height: auto;

            p {
                color: #F4BA6D;
                font-family: "Montserrat-Bold";
                font-size: 2rem;
                margin-bottom: 10px;
            }

            h2 {
                font-size: 4rem;
                color: #F4BA6D;
                font-family: "Montserrat-Bold";
                margin: 0;

                &::after {
                    content: "";
                    position: absolute;
                    background-image: url('../../../assets/images/form-img.png');
                    width: 26px;
                    height: 36px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-left: 15px;
                }
            }

            form {
                margin-top: 20px;

                input {
                    width: 100%;
                    padding: 8px;
                    font-size: 1.5rem;
                }

                .fullname {
                    position: relative;
                }

                .email {
                    padding-right: 5px;
                }

                .number {
                    padding-left: 5px;
                }

                .input-container {
                    height: 60px;
                }

                .error-msg {
                    color: red;
                    margin-top: 3px;
                }

                .subs-and-terms-wrapper {
                    color: white;
                }

                .termsAndConditon {
                    font-family: "Montserrat-Bold";
                    font-size: 1.5rem;
                    cursor: pointer;
                    text-decoration: underline;
                }

                .form-section {
                    margin-top: 20px;

                    .submit-btn-wrapper {
                        height: 75px;
    
                        .submit-btn {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .btn {
                                border: 0;
                                width: 100%;
                                max-width: 200px;
                                background-color: #ED672C;
                                border: 2px solid #ED672C;
                                box-shadow: inset 0 0 0 0 #ED672C;
                                text-transform: uppercase;
                        
                                &:hover {
                                    box-shadow: inset 400px 0 0 0 #18488A;
                                    color: #ED672C;
                                }
            
                                &:disabled {
                                    background-color: #A8A8A8;
                                    border: #A8A8A8;
            
                                    &:hover {
                                        box-shadow: none;
                                        color: white;
                                    }
                                }
                            }

                            button {
                                width: 90%;
                            }
                        }
                    }
                }
            }
        }
    }
}

::ng-deep .mat-checkbox-frame {
    border-color: white;
}

::ng-deep .mat-checkbox-label {
    font-size: 1.5rem;

    span {
        font-family: "Montserrat-Bold";
    }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #18488A !important;
    border: 2px solid white;
}

::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    white-space: normal;
}

::ng-deep .mat-select-disabled {
    background-color: #e1e1e1 !important;
}

@media (max-width: 480px) {
    .mobile-d-none {
        display: none;
    }

    #pwu {
        .right-content {
            .form-wrapper {
                padding-top: 3rem;
                position: relative;
                left: revert;
                right: revert;
                bottom: revert;
                padding-left: 2rem;
                padding-right: 2rem;

                form {
                    .email, .number {
                        padding: 0;
                    }
                }
            }
        }
    }
}