<app-header></app-header>
<div id="hybrid" class="view">
    <section class="service">
        <div class="section-title">Hybrid Apps</div>
        <div class="content">
            <h2><img src="assets/images/hybrid-image-1.png"></h2>
            <p>Power up your business with Moo Central App. Bring traffic back to your stores through meaningful, individualized marketing on email and chat. Get to know your customers better through smart analytics from all your online customer transactions. This platform can help you interact directly with your customers to increase sales and brand loyalty for online experience up to the return to the new in-store experience.</p>
            <div class="image-container"><img src="assets/images/humane-image-8.png"></div>
            <div class="btn-container"><button class="btn">KNOW MORE ABOUT MOO Central App</button></div>
        </div>
    </section>
</div>