#hybrid {
    background-color: #466F7A;
    position: relative;

    p {
        font-size: 1.5rem;
        line-height: 1.8;
        color:white;
    }

    .content-wrapper {
        padding: 5rem 0;

        .sub-section-title {
            background-color: #ED672C;
            width: 450px;
        }

        .content {
            width: 90%;
            margin: auto;
            padding: 3rem 0;
            height: 600px; //temporary
        }
    }

    .image-divider-1 {
        position: absolute;
        width: 300px;
        bottom: -70px;
        right: 70px;
        z-index: 1;
    }
}

@media (max-width: 720px) {
    #hybrid {
        .image-divider-1 {
            right: 0px;
        }
    }
}

@media (max-width: 480px) {
    #hybrid {
        .content-wrapper {
            .sub-section-title {
                width: 90%;
            }
        }
    }
}

@media (max-width: 380px) {
    #hybrid {
        .content-wrapper {
            .sub-section-title {
                width: 300px;
            }
        }

        .image-divider-1 {
            width: 200px;
            bottom: -60px;
            right: 0;
        }
    }
}