@import '../../constants.scss';

#hybrid {
    background-color: $green-blue;
    background-image: url('../../../assets/images/humane-image-6.png');
    background-position: center;
    background-size: contain;
    height: 100vh;

    .content {
        width: 90%;
        margin: auto;

        h2 {
            width: 120px;
            margin: 2rem auto 1rem auto;
        }

        p {
            color: white;
            line-height: 1.8;
            font-size: 1rem;
            text-align: center;
        }

        .image-container {
            width: 40%;
            margin: auto;
        }

        .btn-container {
            margin-top: 20px;
            text-align: center;

            button {
                background-color: $teal;
                color: white;
                border: 2px solid white;
            }
        }
    }
}