.wrapper {
    text-align: center;

    .icon {
        width: 80px;
        margin: auto;
    }

    h1 {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top: 0;
    }

    p {
        width: 80%;
        margin: auto;
        line-height: 1.5;
    }
}

mat-dialog-actions {
    button {
        border: 0;
        font-size: .85rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 150px;
    }
}