<app-header></app-header>
<div id="{{page}}" class="view">
    <div class="back"><a href="" [routerLink]="['/businessapp']">Back</a></div>
    <section class="service">
        <div class="section-title">Business Apps</div>
        <div class="content">
            <h2>{{data.title}}</h2>
            <p>{{data.desc}}</p>
            <div class="product-list">
                <p>PRODUCTS included for {{data.title}}:</p>
                <ul>
                    <li *ngFor="let product of data.products">
                        <button (click)="showDetails(product)"><p>{{product.title}}</p></button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>