@import '../../../constants.scss';

#customer-engagement, #finance {
    background-color: $dark-blue;
    height: 100vh;
    background-image: url('assets/images/business-image-2.png');
    background-repeat: no-repeat;
    background-position: 105% 90%;
}

#finance {
    background-image: url('assets/images/business-image-3.png');

    .content {
        h2 {
            background-color: $yellow;
            color: black;
        }
    }

    .product-list {
        ul {
            li {
                button {
                    background: $yellow;

                    p {
                        color: black;
                    }
                }
            }
        }
    }
}

section {
    display: block;
    
    .content {
        text-align: center;
        margin: auto;
        width: 90%;
        padding-top: 30px;

        h2 {
            background-color: $orange;
            text-transform: uppercase;
            color: white;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 30px;
            box-sizing: border-box;
            margin: 0;
        }

        p {
            text-align: center;
            color: white;
            font-size: .85rem;
            line-height: 1.5;
        }

        .product-list {
            & > p {
                font-size: 1rem;
                margin-top: 30px;
                margin-bottom: 0;
            }

            ul {
                margin: 2rem 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                li {
                    margin: 0 30px 10px 30px;
                    
                    button {
                        width: 180px;
                        height: 180px;
                        border-radius: 25px;
                        display: flex;
                        align-items: flex-end;
                        padding: 5px 15px;
                        border: 3px solid white;
                        background-color: $orange;
    
                        p {
                            color: white;
                            font-weight: bold;
                            text-align: left;
                        }

    
                        &.finance {
                            background-color: $yellow;
    
                            p {
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }

                }
            }
        }
        
    }
}