.wrapper {
    text-align: center;

    .details-tile {
        width: 150px;
        height: 150px;
        margin: auto;
        background-color: #466F7A;
        display: flex;
        align-items: flex-end;
        border-radius: 25px;
        border: 2px solid white;
        padding: 20px;
        text-align: left;

        .details-details {
            .title {
                color: white;
                margin: 0;
                font-size: .75rem;
            }

            label {
                color: white;
                font-size: .75rem;
            }
        }
    }
    
    h3 {
        margin-bottom: 5px;
    }

    .salary {
        font-size: .85rem;
    }

    .desc {
        width: 90%;
        margin: 20px auto;
        font-size: .85rem;
        line-height: 1.3;
    }
}

mat-dialog-actions {
    button {
        margin-top: 30px;
        appearance: none;
        border: 0;
        background-color: #466F7A;
        color: white;
        padding: 10px 20px;
        border-radius: 25px;
        cursor: pointer;
    }
}

.mat-dialog-container {
    width: auto !important;
    position: relative;
    border-radius: 25px !important;
    padding: 50px 24px !important;
}