<mat-dialog-content>
    <div class="wrapper">
        <div class="details-tile">
            <div class="details-details">
                <p class="title">{{data.title}}</p>
                <div *ngIf="data.type !== 'subservice-details'"><label>{{data.salary}}</label></div>
            </div>
        </div>
        <h3>{{data.title}}</h3>
        <p class="salary" *ngIf="data.type !== 'subservice-details'">{{data.salary}} / month</p>
        <p class="desc">{{data.desc}}</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="close" mat-dialog-close><img src="../../../../assets/images/icons/close.png"></div>
    <!-- <button [mat-dialog-close]="true" cdkFocusInitial>KNOW MORE ABOUT THIS CAREER</button> -->
</mat-dialog-actions>