$dark-blue: #18488A;
$green-blue: #466F7A;
$blue-grey: #DAE1E5;
$yellow: #F4BA6D;
$orange: #ED672C;
$teal: #23B1E6;
$greyish: #656565;

$xlarge-screen: 1201px;
$large-screen: 1200px;
$small-screen: 1024px;
$tablet-portrait: 600px;
$tablet: 805px;
$mobile: 480px;
$mobile-small: 320px;
$mobile-xsmall: 280px;

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ItalicBold';
    src: url('../assets/fonts/Montserrat-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Reg';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../assets/fonts/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-XLight';
    src: url('../assets/fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
