$dark-blue: #18488A;
$green-blue: #466F7A;
$blue-grey: #DAE1E5;
$yellow: #F4BA6D;
$orange: #ED672C;
$teal: #23B1E6;
$greyish: #656565;

$xlarge-screen: 1201px;
$large-screen: 1200px;
$small-screen: 1024px;
$tablet-portrait: 600px;
$tablet: 805px;
$mobile: 480px;
$mobile-small: 320px;
$mobile-xsmall: 280px;
