@import '../../constants.scss';

#team {
    p {
        line-height: 1.8;
    }

    section {
        .with-bg {
            .member-desc {
                background-color: $dark-blue;
                width: 100%;
                float: right;
                margin-right: -7rem;
                padding: 1.3rem 7rem 1.3rem 2rem;
                border-radius: 25px;

                p {
                    width: 100%;
                    text-align: right;
                    color: white;
                    font-size: .85rem;
                    margin: 0 0 10px 0;
                }

                .member-position {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .95rem;
                    margin-bottom: 20px;
                }

            }

            .design-image {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

            .sub-content {
                h3 {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 15px;
                }
            }

            .isMobile {
                padding: 0;
                margin-top: 2rem;

                .image-border {
                    .content {
                        .image {
                            width: 200px;
                            height: 200px;
                            background: red;
                        }

                        .border {
                            width: 200px;
                            height: 200px;
                            right: 45px;
                        }
                    }
                }

                .team-name {
                    text-align: center;
                    font-size: 1rem;
                    margin: 20px auto;
                }
            }
        }

        .plain {
            .image-border {
    
                .content {
                    position: relative;
    
                    .image {
                        width: 450px;
                        height: 450px;
                        background-color: $blue-grey;
                        margin: auto;
                        border-radius: 25px;
                    }
    
                    .border {
                        width: 450px;
                        height: 450px;
                        right: 50px;
                        border: 3px solid $dark-blue;
                    }
                }
            }
        }
    }

    .section-1 {
        .with-bg {
            .member-desc {
                margin-top: 4rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: -50px;
                    margin-left: 10rem;
                    width: 150px;
                }
            }
        }

        .plain {
            .image-border {
                margin-top: 2rem;
            }

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-2, .section-3 {
        margin-top: -2rem;

        .with-bg {
            .member-desc {
                margin-top: 5rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: 0px;
                    margin-left: 15rem;
                }
            }
        }

        .plain {
            padding-top: 0;
            margin-top: -3rem;

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-3 {
        .with-bg {
            .design-image {
                img {
                    margin-top: -30px;
                    margin-left: 7rem;
                    width: 250px;
                    height: 180px;
                }
            }
        }
    }

    .section-4 {

        .with-bg {
            padding-top: 7rem;

            .section-title {
                margin-bottom: 3rem;
            }

            & > p {
                width: 90%;
            }

            .sub-content {
                margin-top: 3rem;
            }

            .career-list {
                display: flex;
                margin-top: 30px;
                margin-bottom: 3rem;
                padding: 0;
                margin: 0;

                & > li {
                    flex: 1;

                    .career {
                        width: 200px;
                        margin: auto;
                        height: 200px;
                        background-color: $green-blue;
                        border-radius: 25px;
                        border: 2px solid white;
                        padding: 15px;
                        display: flex;
                        align-items: flex-end;

                        p {
                            font-size: .85rem;
                            color: white;
                            text-align: left;
                            width: 100%;
                        }
                    }
                }
            }

            .know-more {
                text-align: center;
                padding-bottom: 5rem;
            }

            .experience {
                margin-top: 15rem;
            }
        }

        .plain {
            .image-border {
                position: absolute;
                right: 5rem;
                top: -5rem;
                width: 550px;

                .content {
                    position: relative;
                    z-index: 3;

                    .image {
                        background-color: transparent;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .section-5, .section-6, .section-7 {
        .with-bg {
            padding-top: 8rem;

            .sub-content {
                .experience {
                    background-color: transparent;
                    position: relative;
                    margin-top: 4rem;
                    background-image: url('../../../assets/images/bubble-team.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    padding-bottom: 50px;

            
                    &:before {
                        content: '\201C';
                        font-size: 6rem;
                        color: white;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }

                    p {
                        margin-top: .60rem;
                        margin-bottom: 1rem;
                        width: 92%;
                        float: right;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }

                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 15rem;
                        margin-top: -6rem;
                    }
                }
            }
        }

        .plain {
            .image-border {
                padding-top: 8rem;

                .content {
                    .image {
                        width: 400px;
                        height: 400px;
                        margin: 0 0 0 30px;
                    }

                    .border {
                        width: 400px;
                        height: 400px;
                        right: 90px;
                        border: 3px solid $green-blue;
                        top: 10px;
                    }
                }
            }
        }
    }

    .section-6 {
        .with-bg {
            padding-top: 2rem;

            .sub-content {
                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 13rem;
                        margin-top: -6rem;
                        height: 180px;
                    }
                }
            }
        }

        .plain {
            .image-border {
                padding-top: 0;
            }
        }
    }

    .section-7 {
        .with-bg {
            background-color: white;
            padding-top: 4rem;

            .sub-content {
                .design-image {
                    img {
                        width: 150px;
                        margin-left: 17rem;
                    }
                }
            }
        }

        .plain {
            .image-border {
                padding-top: 2rem;
            }
        }
    }
}

.partner-with-us-wrapper {
    margin-top: 3rem;
    position: relative;
    z-index: 2;
}

@media (max-width: $mobile) {
    #team {
        section {
            .with-bg {
                .section-title {
                    width: 110%;
                }

                .member-desc {
                    margin: 0;
                    padding: 20px;
                    
                    p {
                        text-align: left;
                        font-size: .85rem;
                        margin-bottom: 10px;
                    }
                }
            }

            .plain {
                position: relative;

                .image-border {
                    position: relative;
                    right: 0;

                    .border {
                        top: 10px;
                        right: 10px;
                    }

                    .content {
                        .bubble-wrapper {
                            position: relative;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                p {
                    width: 100%;
                }

                .member-desc {
                    margin-top: 0;

                    p {
                        font-size: .85rem;
                        margin-bottom: 10px;
                    }
                }

                .design-image {
                    img {
                        margin-top: -20px;
                        margin-left: 10rem;
                        width: 50px;
                        height: 100px;
                    }
                }
            }

            .plain {
                .image-border {
                    
                    .image {
                        width: 100%;
                        height: 150px;
                    }
    
                    .border {
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }

        .section-2 {

            .with-bg {
                .design-image {
                    img {
                        width: 100px;
                    }
                }
            }


            .plain {
                .design-image {
                    margin: -4rem auto 0 auto;
                    width: 100px;
                    height: auto;
                }
            }
        }

        .section-3 {
            .with-bg {
                .design-image {
                    img {
                        width: 100px;
                    }
                }
            }
        }

        .section-4, .section-5 {
            height: auto;

            .with-bg {
                padding-top: 0;

                .career-list {
                    flex-direction: column;

                    li {
                        margin-bottom: 10px;
                    }
                }

                .testimonial-video {

                    .testimonial {
                        p {
                            width: 100%;
                        }
                    }
                }
            }

            iframe {
                height: 250px;
            }
        }

        .section-4 {
            .plain {
                display: none;
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .design-image {
                        display: none;
                    }

                    .experience {
                        position: relative;
                        margin-top: 0;
                        background-image: none;
                        background-color: $green-blue;
                        padding: 15px;

                        &:before {
                            font-size: 2rem;
                            top: 20px;
                        }

                        &:after {
                            content: "";
                            width: 0px;
                            height: 0px;
                            position: absolute;
                            border-left: 24px solid $green-blue;
                            border-right: 12px solid transparent;
                            border-top: 12px solid $green-blue;
                            border-bottom: 20px solid transparent;
                            left: 40px;
                            bottom: -32px;
                        }
                    }
                }
            }

            .plain {
                background-color: $blue-grey;
                padding-top: 10px;
                padding-bottom: 10px;

                .image-border {
                    padding-top: 0;

                    .content {
                        .image, .border {
                            width: 100%;
                            height: 250px;
                            margin: auto;
                        }

                        .image {
                            overflow: hidden;
                        }

                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-6 {
            .plain {
                padding-bottom: 50px;
            }
        }

        .section-7 {
            .with-bg {
                padding-top: 1rem;
            }
            
            .plain {
                background-color: white;
            }
        }
    }
}