<app-header></app-header>
<div id="team" class="view">
    <section class="section-1">
        <div class="with-bg">
            <div class="section-title">Our Team</div>
            <p>We believe that technology is made by people, for the people, and so, every person in Kation Technologies is committed to “always successful projects,” even as we continuously invest in each other, and push ourselves to maximize our potential.</p>
            <div class="isMobileWidth">
                <div class="plain isMobile">
                    <div class="image-border">
                        <div class="content">
                            <div class="border"></div>
                            <div class="image"><img src="assets/images/andoni.jpg"></div>
                        </div>
                        <p class="team-name">Andoni Albert <br> <span>President and CEO,<br> Kation Technologies</span></p>
                    </div>
                </div>
            </div>
            <div class="member-desc">
                <p>Andoni Albert is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs. </p>
                <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
            </div>
            <div class="design-image"><img src="assets/images/team-image-bg-1.png"></div>
        </div>
        <div class="plain standardWidth">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/andoni.jpg"></div>
                </div>
                <p class="team-name">Andoni Albert <br> <span>President and CEO,<br> Kation Technologies</span></p>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="with-bg">
            <div class="isMobileWidth">
                <div class="plain isMobile">
                    <div class="image-border">
                        <div class="content">
                            <div class="border"></div>
                            <div class="image"><img src="assets/images/teams-9.jpg"></div>
                        </div>
                        <p class="team-name">Norbert Balza  <br> <span>COO, Kation Technologies</span></p>
                    </div>
                </div>
            </div>
            <div class="member-desc">
                <p>Andrew Anthony Corpus “Albert” <br>is a Filipino business leader and serial entrepreneur. </p>
                <p>Since graduating from his bachelor’s and master’s degree in Information Technology and Computer Science at the Ateneo de Manila University, Andoni has built a number of IT businesses, including <b>Quark Data, PeopleSoft, 24/7 International</b>, and, most recently, <b>Kation Technologies</b>. His IT enterprises have delivered diverse business solutions across multiple platforms, including Oracle, SAP, and Microsoft.</p>
                <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. </p>
            </div>
            <div class="design-image"><img src="assets/images/team-image-bg-2.png"></div>
        </div>
        <div class="plain standardWidth">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/teams-9.jpg"></div>
                </div>
                <p class="team-name">Norbert Balza <br> <span>COO, Kation Technologies</span></p>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="with-bg">
            <div class="isMobileWidth">
                <div class="plain isMobile">
                    <div class="image-border">
                        <div class="content">
                            <div class="border"></div>
                            <div class="image"><img src="assets/images/dona.jpg"></div>
                        </div>
                        <p class="team-name">Dona Lim<br> <span>Customer Success Manager,<br> Kation Technologies</span></p>
                    </div>
                </div>
            </div>
            <div class="member-desc">
                <p>Andrew Anthony Corpus “Albert” <br>is a Filipino business leader and serial entrepreneur. </p>
                <p>Since graduating from his bachelor’s and master’s degree in Information Technology and Computer Science at the Ateneo de Manila University, Andoni has built a number of IT businesses, including <b>Quark Data, PeopleSoft, 24/7 International</b>, and, most recently, <b>Kation Technologies</b>. His IT enterprises have delivered diverse business solutions across multiple platforms, including Oracle, SAP, and Microsoft.</p>
                <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. </p>
            </div>
            <div class="design-image"><img src="assets/images/section-5-bg.png"></div>
        </div>
        <div class="plain standardWidth">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/dona.jpg"></div>
                </div>
                <p class="team-name">Dona Lim<br> <span>Customer Success Manager,<br>Kation Technologies</span></p>
            </div>
        </div>
    </section>
    <section class="section-4" id="careerSection">
        <div class="with-bg">
            <div class="section-title">Careers</div>
            <p>At Kation Technologies, we believe that technology is made by people, for the people.</p>
            <p>As a Filipino company, we look for people who seek to elevate the Filipino IT talent to the world stage and create value for our clients, people and communities.</p>
            <p>Grow your career with us. Bring your pioneering mindset and determination, and together, let's create positively charged connections.</p>
            <div class="sub-content">
                <h3>Vacancies</h3>
                <ul class="career-list">
                    <li *ngFor="let career of careerList" (click)="getCareerDetails(career.id)">
                        <div class="career">
                            <div>
                                <p>{{career.title}} <br> {{career.subtitle}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="image"><img src="assets/images/team-image-5.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-5">
        <div class="with-bg">
            <div class="experience">
                <div class="sub-content">
                    <h3>Experiences with Kation</h3>
                    <div class="member-desc experience">
                        <p>I like working in Kation because of the Opportunities for career growth, and tons of career development resources available. The company attracts some of the best talent and best people to work with in the world. I’ve always aspired to be “world-class”; the very best in my field/specialty. Being a part of a company that shares the same goal.
                            <br> The feeling is just surreal.</p>
                        <p>
                            <span>Joshua Oducado</span><br>
                            <span>Software Developer</span>
                        </p>
                    </div>
                    <div class="design-image"><img src="assets/images/team-image-1.png"></div>
                </div>
            </div>
        </div>
        <div class="plain" [ngClass]="{isMobile: isMobile}"> 
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/team-joshua.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-6">
        <div class="with-bg">
            <div class="experience">
                <div class="sub-content">
                    <div class="member-desc experience">
                        <p>"I will always choose to work at KATION Technologies. Our culture values transparency and honesty within the workplace. The leaders treat its employees as valued team members, and are always supportive in achieving our personal and professional growth. These values made me motivated to perform better and be better."</p>
                        <p>
                            <span>Alvin Heruela, CPA</span><br>
                            <span>Senior Business Apps Consultant</span>
                        </p>
                    </div>
                    <div class="design-image"><img src="assets/images/section-4-bg.png"></div>
                </div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/team-alvin.png"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-7">
        <div class="with-bg">
            <div class="experience">
                <div class="sub-content">
                    <div class="member-desc experience">
                        <p>“I really love working in Kation because it’s challenging and inspiring.
                            It’s role and not the position basis. The people are warm-hearted, the workspace is very cool 
                            and work schedules is flexible. There’s a lot of new learning which are valuable and up to date, and lastly I found the right work place at the right time for me -a family oriented one.”</p>
                        <p>
                            <span>Maricel Javier</span><br>
                            <span>Business Development Manager</span>
                        </p>
                    </div>
                    <div class="design-image"><img src="assets/images/about-us-image-2.png"></div>
                </div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="assets/images/team-maricel.png"></div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="partner-with-us-wrapper">
    <app-partner-with-us></app-partner-with-us>
</div> 