@import '../../constants.scss';

#team {

    .isMobileWidth {
        display: none;
    }

    p {
        line-height: 1.8;
    }

    section {
        .with-bg {
            .member-desc {
                background-color: $dark-blue;
                width: 100%;
                float: right;
                margin-right: -9rem;
                padding: 1.3rem 7rem 1.3rem 2rem;
                border-radius: 25px;

                p {
                    width: 100%;
                    text-align: right;
                    color: white;
                    font-size: .85rem;
                    margin: 0 0 10px 0;
                }

                .member-position {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .95rem;
                    margin-bottom: 20px;
                }

            }

            .design-image {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

            .sub-content {
                h3 {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 15px;
                }
            }

            .isMobile {
                padding: 0;
                margin-top: 2rem;

                .image-border {
                    .content {
                        .image {
                            width: 300px;
                            height: 300px;
                        }

                        .border {
                            width: 300px;
                            height: 300px;
                            right: 190px;
                        }
                    }
                }

                .team-name {
                    text-align: center;
                    font-size: 1rem;
                    margin: 20px auto;
                }
            }
        }

        .plain {
            .image-border {
    
                .content {
                    position: relative;
    
                    .image {
                        width: 450px;
                        height: 450px;
                        background-color: $blue-grey;
                        margin: auto;
                        border-radius: 25px;
                    }
    
                    .border {
                        width: 450px;
                        height: 450px;
                        right: 50px;
                        border: 3px solid $dark-blue;
                    }
                }
            }
        }
    }

    .section-1 {
        .with-bg {
            .member-desc {
                margin-top: 4rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: -50px;
                    margin-left: 10rem;
                    width: 150px;
                }
            }
        }

        .plain {
            .image-border {
                margin-top: 2rem;
            }

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-2, .section-3 {
        margin-top: -2rem;

        .with-bg {
            .member-desc {
                margin-top: 5rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: -25px;
                    margin-left: 15rem;
                }
            }
        }

        .plain {
            padding-top: 0;
            margin-top: -3rem;

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-3 {
        .with-bg {
            .design-image {
                img {
                    margin-top: -30px;
                    margin-left: 7rem;
                    width: 250px;
                    height: 180px;
                }
            }
        }
    }

    .section-4 {

        .with-bg {
            padding-top: 7rem;

            .section-title {
                margin-bottom: 3rem;
            }

            & > p {
                width: 90%;
            }

            .sub-content {
                margin-top: 3rem;
            }

            .career-list {
                display: flex;
                margin-top: 30px;
                margin-bottom: 3rem;
                padding: 0;
                margin: 0;

                & > li {
                    flex: 1;

                    .career {
                        width: 200px;
                        margin: auto;
                        height: 200px;
                        background-color: $green-blue;
                        border-radius: 25px;
                        border: 2px solid white;
                        padding: 15px;
                        display: flex;
                        align-items: flex-end;

                        p {
                            font-size: .85rem;
                            color: white;
                            text-align: left;
                            width: 100%;
                        }
                    }
                }
            }

            .know-more {
                text-align: center;
                padding-bottom: 5rem;
            }

            .experience {
                margin-top: 15rem;
            }
        }

        .plain {
            position: relative;
            .image-border {

                .content {
                    position: relative;
                    z-index: 3;

                    .image {
                        background-color: transparent;
                        
                        img {
                            position: absolute;
                            right: 7rem;
                            top: -5rem;
                            width: 550px;
                        }
                    }
                }
            }
        }
    }

    .section-5, .section-6, .section-7 {
        .with-bg {
            padding-top: 8rem;

            .sub-content {
                .experience {
                    background-color: transparent;
                    margin-top: 3rem;
                    background-color: $green-blue;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: relative;

                    p {
                        margin-top: .60rem;
                        margin-bottom: 1rem;
                        width: 92%;
                        float: right;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &:before {
                        content: '\201C';
                        font-size: 6rem;
                        color: white;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        background-image: url('../../../assets/images/bubble-team-point.png');
                        width: 20px;
                        height: 40px;
                        bottom: -30px;
                        background-size: 100% 100%;
                        right: 65px;
                        background-repeat: no-repeat;                        
                    }
                }

                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 15rem;
                        margin-top: -6rem;
                    }
                }
            }
        }

        .plain {
            padding-top: 8rem;

            .image-border {
                .content {
                    .image {
                        background-color: transparent;
                        
                        img {
                            width: 400px;
                            height: 400px;
                        }
                    }

                    .border {
                        width: 400px;
                        height: 400px;
                        right: 105px;
                        border: 3px solid $green-blue;
                        top: 10px;
                    }
                }
            }
        }
    }

    .section-6 {
        .with-bg {
            padding-top: 2rem;
            padding-bottom: 6rem;

            .sub-content {
                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 13rem;
                        margin-top: -6rem;
                        height: 180px;
                    }
                }
            }
        }

        .plain {
            padding-top: 0;
        }
    }

    .section-7 {
        margin-top: -1rem;

        .with-bg {
            padding-bottom: 5rem;

            .sub-content {
                .experience {
                    margin-top: 0;
                }

                .design-image {
                    img {
                        width: 180px;
                        margin-left: 15rem;
                    }
                }
            }
        }

        .plain {
            padding-top: 2rem;
        }
    }
}

.partner-with-us-wrapper {
    margin-top: -3rem;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1400px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 35px;
                        }
                    }
                }
            }
        }

        .section-4 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 4rem;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6,.section-7 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            float: right;
                        }

                        .border {
                            right: 65px;
                        }
                    }
                }
            }
        }

        .section-7 {
            margin-top: -1rem;
        }
    }
}

@media screen and (max-width: 1370px) {
    #team {
        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 20px;
                        }
                    }
                }
            }
        }

        .section-5, .section-6,.section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 40px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            float: right;
                            text-align: right;
                        }

                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-5 {
            .plain {
                .image-border {
                    margin-top: 30px;
                }
            }
        }
    }
}


@media screen and (max-width: 1300px) {
    #team {
        .section-5, .section-6,.section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 50px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px){
    #team {
        .section-1, .section-2, .section-3 {
            .plain {
                .team-name {
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width: $large-screen) {
    #team {
        section {
            .with-bg {
                .member-desc {
                    margin-right: -5rem;
                    padding: 1.3rem 4rem 1.3rem 2rem;
                }
            }

            .plain {
                .image-border {
        
                    .content {
                        position: relative;
        
                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-4 {
            .with-bg {
                .career-list {
                    & > li {
    
                        .career {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                position: absolute;
                                right: 4rem;
                                top: -4.7rem;
                                width: 500px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        margin-top: 3rem;
                        background-size: 100% 300px;
                        margin-right: -9rem;
                        padding-right: 7rem;
                        width: 110%;
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        margin-top: 1rem;
                        padding-bottom: 80px;
                    }

                    .design-image {
                        img {
                            margin-left: 10rem;
                            margin-top: -4rem;
                        }
                    }
                }
            }
        }

        .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        margin-top: -3rem;
                    }

                    .design-image {
                        img {
                            margin-left: 15rem;
                            margin-top: -4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $small-screen) {
    #team {
        .standardWidth {
            display: none;
        }

        .isMobileWidth {
            display: block;
        }

        section {
            .plain {
                .image-border {
        
                    .content {
        
                        .image {
                            width: 350px;
                            height: 350px;
                        }
        
                        .border {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                .member-desc {
                    p {
                        font-size: .90rem;
                    }
                }
            }
        }

        .section-4 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 0;
                                width: 420px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                padding-top: 3rem;

                .sub-content {
                    .experience {
                        margin-top: 0;
                        background-size: 100% 100%;
                        margin-right: -4.5rem;
                        padding: .5rem 3rem 3rem 0;

                        &:before {
                            font-size: 4rem;
                        }
                    }

                    .design-image {
                        img {
                            margin-left: 10rem;
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }

            .plain {

                .image-border {
                    margin-top: -4rem;

                    .content {
                        .image {
                            img {
                                width: 300px;
                                height: 300px;
                            }
                        }

                        .border {
                            width: 300px;
                            height: 300px;
                            right: 0;
                        }
                    }
                }
            }
        }

        .section-6 {
            
            .plain {
                .image-border {
                    margin-top: -1rem;
                }
            }
        }

        .section-7 {
            .with-bg {
                .sub-content {
                    .design-image {
                        img {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    #team {
        section {
            .with-bg {
                .section-title {
                    width: 110%;
                }

                .member-desc {
                    margin: 0;
                    padding: 20px;
                    
                    p {
                        text-align: left;
                        font-size: .85rem;
                        margin-bottom: 10px;
                    }
                }
            }

            .plain {
                position: relative;

                .image-border {
                    position: relative;
                    right: 0;

                    .border {
                        top: 10px;
                        right: 10px;
                    }

                    .content {
                        .bubble-wrapper {
                            position: relative;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                p {
                    width: 100%;
                }

                .member-desc {
                    margin-top: 0;

                    p {
                        font-size: .85rem;
                        margin-bottom: 10px;
                    }
                }

                .design-image {
                    img {
                        margin-top: -20px;
                        margin-left: 10rem;
                        width: 50px;
                        height: 100px;
                    }
                }
            }

            .plain {
                .image-border {
                    
                    .image {
                        width: 100%;
                        height: 150px;
                    }
    
                    .border {
                        width: 100%;
                        height: 150px;
                    }
                }
            }
        }

        .section-2 {

            .with-bg {
                .design-image {
                    img {
                        width: 100px;
                    }
                }
            }


            .plain {
                .design-image {
                    margin: -4rem auto 0 auto;
                    width: 100px;
                    height: auto;
                }
            }
        }

        .section-3 {
            .with-bg {
                .design-image {
                    img {
                        width: 100px;
                    }
                }
            }
        }

        .section-4, .section-5 {
            height: auto;

            .with-bg {
                padding-top: 0;

                .career-list {
                    li {
                        margin-bottom: 10px;
                    }
                }

                .testimonial-video {

                    .testimonial {
                        p {
                            width: 100%;
                        }
                    }
                }
            }

            iframe {
                height: 250px;
            }
        }

        .section-4 {
            .plain {
                display: none;
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .design-image {
                        display: none;
                    }

                    .experience {
                        position: relative;
                        margin-top: 0;
                        background-image: none;
                        background-color: $green-blue;
                        padding: 15px;

                        &:before {
                            font-size: 2rem;
                            top: 20px;
                        }

                        &:after {
                            content: "";
                            width: 0px;
                            height: 0px;
                            position: absolute;
                            border-left: 24px solid $green-blue;
                            border-right: 12px solid transparent;
                            border-top: 12px solid $green-blue;
                            border-bottom: 20px solid transparent;
                            left: 40px;
                            bottom: -32px;
                        }

                        P {
                            width: 95%;
                        }
                    }

                    .member-desc {
                        width: 100%;
                        float: left;
                        left: 20px;
                    }
                }
            }

            .plain {
                background-color: $blue-grey;
                padding-top: 10px;
                padding-bottom: 10px;

                .image-border {
                    padding-top: 0;

                    .content {
                        margin-top: 3.5rem;

                        .image, .border {
                            width: 300px;
                            height: 300px;
                            float: left;
                        }

                        .image {
                            overflow: hidden;
                        }
                    }
                }
            }
        }

        .section-5 {
            .plain {
                .image-border {
                    .border {
                        left: -10px
                    }
                }
            }
        }

        .section-6 {
            .with-bg {
                .sub-content {
                    .experience {
                        &:after {
                            left: 90%;
                        }
                    }
                }
            }

            .plain {
                padding-bottom: 50px;

                .image-border {
                    padding-top: 0;

                    .content {
                        margin-top: 1rem;

                        .image, .border {
                            width: 300px;
                            height: 300px;
                            float: right;
                        }

                        .image {
                            overflow: hidden;
                        }

                        .border {
                            right: 10px;
                            clear: both;
                        }
                    }
                }
            }
        }

        .section-7 {
            .with-bg {
                padding-top: 1rem;
            }
            
            .plain {
                background-color: white;
                .image-border {
                    .border {
                        left: -10px
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    #team {
        section {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .image {
                                width: 200px;
                                height: 200px;
                            }
                            
                            .border {
                                width: 200px;
                                height: 200px;
                                right: 50px;
                            }
                        }
                    }
                }
            }
        }

        .section-4, .section-5 {
            .with-bg {
                .career-list {
                    flex-direction: column;
                    
                    li {
                        margin-bottom: 10px;
                            
                        .career {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }

            iframe {
                height: 250px;
            }
        }

        .section-6 {
            .with-bg {
                .sub-content {
                    .experience {
                        &:after {
                            left: 70%;
                        }
                    }
                }
            }

            .plain {
                padding-bottom: 50px;

                .image-border {
                    padding-top: 0;

                    .content {
                        margin-top: 1rem;

                        .image, .border {
                            width: 300px;
                            height: 300px;
                            float: right;
                        }

                        .image {
                            overflow: hidden;
                            margin-right: -12px;
                        }

                        .border {
                            right: -3px;
                            clear: both;
                        }
                    }
                }
            }
        }

        .section-7 {
            .with-bg {
                padding-top: 1rem;
            }
            
            .plain {
                background-color: white;
                .image-border {
                    .border {
                        left: -10px
                    }
                }
            }
        }
    }
}