@import '../../constants.scss';

#team {

    .isMobileWidth {
        display: none;
    }

    p {
        line-height: 1.8;
    }

    section {
        .with-bg {
            .member-desc {
                background-color: $dark-blue;
                width: 100%;
                float: right;
                margin-right: -9rem;
                padding: 1.3rem 7rem 1.3rem 2rem;
                border-radius: 25px;

                p {
                    width: 100%;
                    text-align: right;
                    color: white;
                    font-size: .95rem;
                    margin: 0 0 10px 0;
                }

                .member-position {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: .95rem;
                    margin-bottom: 20px;
                }

            }

            .design-image {
                img {
                    width: 185px;
                    height: 160px;
                }
            }

            .sub-content {
                h3 {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 15px;
                }
            }

            .isMobile {
                padding: 0;
                margin-top: 2rem;

                .image-border {
                    .content {
                        .image {
                            width: 300px;
                            height: 300px;
                        }

                        .border {
                            width: 300px;
                            height: 300px;
                            right: 190px;
                        }
                    }
                }

                .team-name {
                    text-align: center;
                    font-size: 1rem;
                    margin: 20px auto;
                }
            }
        }

        .plain {
            .image-border {
    
                .content {
                    position: relative;
    
                    .image {
                        width: 450px;
                        height: 450px;
                        background-color: $blue-grey;
                        margin: auto;
                        border-radius: 25px;
                        overflow: hidden;
                    }
    
                    .border {
                        width: 450px;
                        height: 450px;
                        right: 50px;
                        border: 3px solid $dark-blue;
                    }
                }
            }
        }
    }

    .section-1 {
        .with-bg {
            .member-desc {
                margin-top: 4rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: -50px;
                    margin-left: 10rem;
                    width: 135px;
                }
            }
        }

        .plain {
            .image-border {
                margin-top: 2rem;
            }

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-2, .section-3 {
        margin-top: -2rem;

        .with-bg {
            .member-desc {
                margin-top: 5rem;
                
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                }
            }

            .design-image {
                img {
                    margin-top: -25px;
                    margin-left: 15rem;
                }
            }
        }

        .plain {
            padding-top: 0;
            margin-top: -3rem;

            .team-name {
                text-align: right;
                margin: 30px 40px;
                font-size: 1.3rem;
                font-weight: bold;
                line-height: normal;
                color: $dark-blue;

                span {
                    font-weight: normal;
                }
            }
        }
    }

    .section-2 {
        .with-bg {
            .design-image {
                img {
                    width: 170px;
                    height: 145px;
                }
            }
        }
    }

    .section-3 {
        .with-bg {
            .design-image {
                img {
                    margin-top: -30px;
                    margin-left: 7rem;
                    width: 250px;
                    height: 180px;
                }
            }
        }
    }

    .section-4 {

        .with-bg {
            padding-top: 7rem;

            .section-title {
                margin-bottom: 3rem;
            }

            & > p {
                width: 90%;
            }

            .sub-content {
                margin-top: 3rem;
            }

            .career-list {
                display: flex;
                margin-top: 30px;
                margin-bottom: 3rem;
                padding: 0;
                margin: 0;

                & > li {
                    flex: 1;

                    .career {
                        width: 200px;
                        margin: auto;
                        height: 200px;
                        background-color: $green-blue;
                        border-radius: 25px;
                        border: 2px solid white;
                        padding: 15px;
                        display: flex;
                        align-items: flex-end;

                        p {
                            font-size: .85rem;
                            color: white;
                            text-align: left;
                            width: 100%;
                        }
                    }
                }
            }

            .know-more {
                text-align: center;
                padding-bottom: 5rem;
            }

            .experience {
                margin-top: 15rem;
            }
        }

        .plain {
            position: relative;
            .image-border {

                .content {
                    position: relative;
                    z-index: 3;

                    .image {
                        background-color: transparent;
                        
                        img {
                            position: absolute;
                            right: 7rem;
                            top: -5rem;
                            width: 550px;
                        }
                    }
                }
            }
        }
    }

    .section-5, .section-6, .section-7 {
        .with-bg {
            padding-top: 8rem;

            .sub-content {
                .experience {
                    background-color: transparent;
                    margin-top: 3rem;
                    background-color: $green-blue;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    position: relative;

                    p {
                        margin-top: .60rem;
                        margin-bottom: 1rem;
                        width: 92%;
                        float: right;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }

                    &:before {
                        content: '\201C';
                        font-size: 6rem;
                        color: white;
                        position: absolute;
                        top: 0;
                        left: 20px;
                    }

                    &::after {
                        position: absolute;
                        content: "";
                        background-image: url('../../../assets/images/bubble-team-point.png');
                        width: 20px;
                        height: 40px;
                        bottom: -30px;
                        background-size: 100% 100%;
                        right: 5rem;
                        background-repeat: no-repeat;                        
                    }
                }

                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 15rem;
                        margin-top: -6rem;
                    }
                }
            }
        }

        .plain {
            padding-top: 9rem;

            .image-border {
                .content {
                    .image {
                        background-color: transparent;
                        
                        img {
                            width: 400px;
                            height: 400px;
                        }
                    }

                    .border {
                        width: 400px;
                        height: 400px;
                        right: 105px;
                        border: 3px solid $green-blue;
                        top: 10px;
                    }
                }
            }
        }
    }

    .section-5 {
        .with-bg {
            .sub-content {
                .design-image {
                    img {
                        width: 150px;
                    }
                }
            }
        }
    }

    .section-6 {
        margin-top: -1rem;
        
        .with-bg {
            padding-top: 2rem;
            padding-bottom: 6rem;

            .sub-content {
                .design-image {
                    z-index: 2;
                    position: relative;

                    img {
                        margin-left: 13rem;
                        margin-top: -6rem;
                        height: 155px;
                    }
                }
            }
        }

        .plain {
            padding-top: 0;
        }
    }

    .section-7 {
        margin-top: -1rem;

        .with-bg {
            padding-bottom: 5rem;

            .sub-content {
                .experience {
                    margin-top: 0;
                }

                .design-image {
                    img {
                        width: 160px;
                        margin-left: 15rem;
                    }
                }
            }
        }

        .plain {
            padding-top: 2rem;
        }
    }
}

.partner-with-us-wrapper {
    margin-top: -3rem;
    position: relative;
    z-index: 2;
}

@media screen and (max-width: 1460px) {
    #team {
        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 95px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1430px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 40px;
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 80px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 90px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 35px;
                        }
                    }
                }
            }
        }

        .section-4 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 4rem;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6,.section-7 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            float: right;
                        }

                        .border {
                            right: 65px;
                        }
                    }
                }
            }
        }

        .section-7 {
            margin-top: -1rem;
        }
    }
}

@media screen and (max-width: 1370px) {
    #team {
        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 80px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 20px;
                        }
                    }
                }
            }
        }

        .section-5, .section-6,.section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 40px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            float: right;
                            text-align: right;
                        }

                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-5 {
            .plain {
                .image-border {
                    margin-top: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    #team {
        .section-5, .section-6,.section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        &::after {
                            right: 50px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    #team {
        section {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1240px){
    #team {
        .section-1, .section-2, .section-3 {
            .plain {
                .team-name {
                    width: 90%;
                }
            }
        }
    }
}

@media screen and (max-width: 1210px){
    #team {
        .section-4 {
            .with-bg {
                .career-list {
                    & > li {
                        .career {
                            width: 180px;
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1140px){
    #team {
        section {
            .with-bg {
                .member-desc {
                    width: 110%;
                }
            }
        }

        .section-4 {
            .with-bg {
                .career-list {
                    & > li {
                        .career {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px){
    #team {
        section {
            .with-bg {
                .member-desc {
                    width: 120%;
                }
            }
        }

        .section-4 {
            .with-bg {
                .career-list {
                    & > li {
                        .career {
                            width: 130px;
                            height: 130px;
                            align-items: center;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 2rem;
                            }
                        }
                    }
                }
            }
        }

        .section-5 {
            .with-bg {
                .sub-content {
                    .experience {
                        margin-top: 1rem;
                    }

                    .design-image {
                        img {
                            margin-left: 7rem;
                        }
                    }
                }
            }
        }

        .section-6 {
            margin-top: -1rem;

            .with-bg {
                .sub-content {
                    .experience {
                        .design-image {
                            img {
                                margin-left: 3rem;
                            }
                        }
                    }
                }
            }
        }

        .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        margin-top: -2rem;
                    }

                    .design-image {
                        img {
                            margin-left: 7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    #team {
        section {
            .with-bg {
                .member-desc {
                    p {
                        font-size: 0.73rem;
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            width: 400px;
                            height: 400px;
                        }

                        .border {
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                .member-desc {
                    p {
                        font-size: 0.85rem;
                    }
                }
            }

            .plain {
                .team-name {
                    font-size: 1rem;
                }
            }
        }

        .section-2 {
            .with-bg {
                .design-image {
                    img {
                        margin-left: 6rem;
                    }
                }
            }
        }

        .section-4 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 1rem;
                                width: 500px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                width: 350px;
                                height: 350px;
                            }
                        }

                        .border {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }
            }
        }

        .section-6 {
            .with-bg {
                .design-image {
                    img {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    #team {
        .section-6 {
            .with-bg {
                .sub-content {
                    .design-image {
                        img {
                            margin-left: 2rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 950px) {
    #team {
        .section-4 {
            .with-bg {
                .career-list {
                    flex-direction: column;

                    li {
                        .career {
                            width: 180px;
                            height: 180px;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 925px) {
    #team {
        .section-3 {
            .with-bg {
                .design-image {
                    img {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #team {
        .section-1, .section-2, .section-3 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            width: 300px;
                            height: 300px;
                        }

                        .border {
                            width: 300px;
                            height: 300px;
                        }
                    }
                }
            }
        }

        .section-4 {
            .with-bg {
                .career-list {
                    & > li {
                        .career {
                            width: 147px;
                            height: 147px;
                            align-items: center;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $tablet) {
    #team {
        .standardWidth {
            display: none;
        }

        .isMobileWidth {
            display: block;
        }

        section {
            .with-bg {
                .member-desc {
                    width: 100%;
                    margin-right: 0;
                    padding: 1.5rem;

                    p {
                        text-align: left;
                    }
                }
            }

            .plain {
                .image-border {
        
                    .content {
        
                        .image {
                            width: 350px;
                            height: 350px;
                        }
        
                        .border {
                            width: 350px;
                            height: 350px;
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                .member-desc {
                    p {
                        font-size: .90rem;
                    }
                }

                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 30%;
                                top: 10px;
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            padding-top: 0;

            .with-bg {
                .career-list {
                    flex-direction: row;
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                right: 0;
                                width: 420px;
                                position: relative;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                padding-top: 3rem;

                .sub-content {
                    .experience {
                        margin-top: 0;
                        background-size: 100% 100%;
                        margin-right: -4.5rem;
                        padding: .5rem 3rem 3rem 0;
                        margin-right: 0;

                        &:before {
                            font-size: 4rem;
                        }

                        &::after {
                            left: 50px;
                        }
                    }

                    .design-image {
                        img {
                            float: right;
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    margin-top: -4rem;

                    .content {
                        .image {
                            float: none;

                            img {
                                width: 300px;
                                height: 300px;
                            }
                        }

                        .border {
                            width: 300px;
                            height: 300px;
                            right: 27%;
                        }
                    }
                }
            }
        }

        .section-5 {
            .with-bg {
                .sub-content {
                    .design-image {
                        img {
                            float: right;
                        }
                    }

                    .experience {
                        margin-right: 0;

                        &::after {
                            left: 50px;
                        }
                    }
                }
            }

            .plain { 
                .image-border {
                    .content {
                        margin-top: -10rem;
                    }
                }
            }
        }

        .section-6 {
            
            .plain {
                .image-border {
                    margin-top: -4rem;
                }
            }
        }

        .section-7 {
            .with-bg {
                .sub-content {
                    .design-image {
                        img {
                            width: 130px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    margin-top: -6rem;
                }
            }
        }
    }

    .footer-wrapper {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 115px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        margin-top: 0;

                        .border {
                            right: 90px;
                        }
                    }
                }
            }
        }

        .section-5 {
            margin-top:3rem;

            .with-bg {
                .sub-content {
                    .experience {
                        padding: 0.5rem 3rem 3rem 1rem;
                    }
                }
            }

            .plain {
                padding-top: 0;

                .image-border {
                    margin-top: 2rem;
                }
            }
        }

        .section-6 {            
            .with-bg {
                padding-bottom: 2rem;
            }

            .plain {

                .image-border {
                    padding-top: 1rem;
                    margin-top: 0;

                    .content {
                        margin-top: 1rem;
                    }
                }
            }
        }

        .section-7 {
            .with-bg {
                padding-top: 1rem;
                padding-bottom: 2rem;
            }
            
            .plain {
                background-color: white;
                .image-border {
                    margin-top: 0;
                }
            }
        }
    }
} 

@media screen and (max-width: 540px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 80px;
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            .with-bg {
                .career-list {
                    li {
                        .career {
                            width: 130px;
                            height: 130px;
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 55px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile) {
    #team {
        section {
            .with-bg {
                .section-title {
                    width: 100%;
                }

                .isMobile {
                    .image-border {
                        .content {
                            .image {
                                width: 250px;
                                height: 250px;
                            }
                            
                            .border {
                                width: 250px;
                                height: 250px;
                                right: 15px;
                            }
                        }
                    }
                }
            }
        }

        .section-1, .section-2, .section-3 {
            .with-bg {
                .member-desc {
                    margin-top: 20px;
                }

                .design-image {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }

                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 75px;
                            }
                        }
                    }
                }
            }
        }

        .section-1 {
            .with-bg {
                .design-image {
                    img {
                        width: 90px;
                        height: 115px;
                    }
                }
            }
        }

        .section-2 {
            .with-bg {
                .design-image {
                    img {
                        width: 100px;
                        height: 95px;
                    }
                }
            }
        }

        .section-3 {
            .with-bg {
                .design-image {
                    img {
                        height: 70px;
                    }
                }
            }
        }

        .section-4, .section-5 {
            .with-bg {
                .career-list {
                    flex-direction: column;
                    
                    li {
                        margin-bottom: 10px;
                            
                        .career {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }

            iframe {
                height: 250px;
            }
        }

        .section-4 {
            .with-bg {
                padding-top: 0;
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .with-bg {
                .sub-content {
                    .experience {
                        padding: 0.5rem 1rem 3rem 2.3rem;

                        &::after {
                            left: 50px;
                        }
                    }

                    .design-image {
                        img {
                            margin-top: -2rem;
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    .content {
                        .image {
                            width: 100%;
                            margin: auto;

                            img {
                                width: 250px;
                                height: 250px;
                            }
                        }

                        .border {
                            width: 250px;
                            height: 250px;
                            right: 10px;
                        }
                    }
                }
            }
        }

        .section-5 {
            margin-top: 0;
            
            .with-bg {
                .sub-content {
                    .design-image {
                        img {
                            height: 80px;
                        }
                    }
                }
            }

            .plain {
                .image-border {
                    margin-top: 4rem;
                }
            }
        }

        .section-6 {
            margin-top: -5rem;
            
            .with-bg {
                padding-bottom: 2rem;

                .sub-content {
                    .design-image {
                        img {
                            height: 75px;
                        }
                    }
                }
            }

            .plain {

                .image-border {
                    padding-top: 1rem;
                    margin-top: 0;

                    .content {
                        margin-top: 1rem;
                    }
                }
            }
        }

        .section-7 {
            margin-top: -5rem;

            .with-bg {
                padding-top: 1rem;
                padding-bottom: 2rem;

                .sub-content {
                    .design-image {
                        img {
                            width: 75px;
                        }
                    }
                }
            }
            
            .plain {
                background-color: white;
                .image-border {
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 45px;
                            }
                        }
                    }
                }
            }
        }

        .section-5 {
            margin-top: -6rem;
        }
    }
}

@media screen and (max-width: 375px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {
    #team {
        .section-5 {
            .plain {
                .image-border {
                    margin-top: 2rem;
                }
            }
        }
    }
}

@media (max-height: 360px) and (max-width: 640px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .border {
                                right: 130px;
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            .with-bg {
                padding-top: 0;
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .border {
                            right: 110px;
                        }
                    }
                }
            }
        }

        .section-5 {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 320px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .isMobile {
                    .image-border {
                        .content {
                            .image {
                                width: 200px;
                                height: 200px;
                            }

                            .border {
                                width: 200px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                width: 200px;
                                height: 200px;
                            }
                        }

                        .border {
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 280px) {
    #team {
        .section-1, .section-2, .section-3 {
            .with-bg {
                .design-image {
                    img {
                        margin-left: 70%;
                    }
                }

                .isMobile {
                    .image-border {
                        .content {
                            .image {
                                width: 200px;
                                height: 200px;
                            }

                            .border {
                                width: 200px;
                                height: 200px;
                                right: -10px;
                            }
                        }
                    }
                }
            }
        }

        .section-5, .section-6, .section-7 {
            .plain {
                .image-border {
                    .content {
                        .image {
                            img {
                                width: 200px;
                                height: 200px;
                            }
                        }

                        .border {
                            width: 200px;
                            height: 200px;
                            right: -10px;
                        }
                    }
                }
            }
        }

        .section-5 {
            margin-top: -15rem;
        }
    }
}