<app-header></app-header>
<div id="services" class="view">
    <section class="section-1">
        <div>
            <h1>Navigate business <br> together.</h1>
            <p>Bringing opportunities and co-creation to unlimit the world’s digital workforce.</p>
        </div>
    </section>
    <section class="section-2">
        <ul class="services-list row">
            <li class="business col-lg-4 col-md-4 col-sm-12">
                <div class="item-icon"><img src="assets/images/icons/buss-icon.png" /></div>
                <h2>Business App Consulting</h2>
                <div class="item-desc">
                    Our business application experts deliver advisory and system design solutions in the areas of process transformation, operational performance, customer engagement, and workforce productivity. 
                </div>
                <div class="know-more"><a href="" [routerLink]="['/businessapp']" class="btn">Know More</a></div>
            </li>
            <li class="humane col-lg-4 col-md-4 col-sm-12">
                <div class="item-icon"><img src="assets/images/icons/strat-icon.png" /></div>
                <h2 class="text-color-black">Co-Strategic Partnerships</h2>
                <div class="item-desc text-color-black">
                    Expert services from to senior level consultants to unlock strategic adoption of new technologies and processes, closely aligned with your business and your other technology partners. 
                </div>
                <div class="know-more"><a href="" [routerLink]="['/partnership']" class="btn text-color-black border-color-black">Know More</a></div>
            </li>
            <li class="hybrid col-lg-4 col-md-4 col-sm-12">
                <div class="item-icon custom-size"><img src="assets/images/icons/des-icon.png" /></div>
                <h2>Design Thinking Solutioning</h2>
                <div class="item-desc">
                    Design and delivery of services, strategic insight and products that build on the human strength and uniqueness of your business and your customers.
                </div>
                <div class="know-more"><a href="" [routerLink]="['/design']" class="btn">Know More</a></div>
            </li>
        </ul>
    </section>
</div>
<app-footer></app-footer>