<app-header></app-header>
<div id="services" class="view">
    <section class="section-1">
        <div>
            <h1>Navigate business <br> together.</h1>
            <p>Bringing opportunities and co-creation to unlimit the world’s digital workforce.</p>
        </div>
    </section>
    <section class="section-2">
        <ul class="services-list">
            <li class="business">
                <div>
                    <h2>Business Apps</h2>
                    <p>(B to B)</p>
                </div>
                <div class="desc">
                    <p>Our business application experts deliver advisory and system design solutions in the areas of process transformation, operational performance, customer engagement, and workforce productivity.</p>
                    <a href="" [routerLink]="['/businessapp']"><button class="btn btn-outline">KNOW MORE ABOUT Business Apps</button></a>
                </div>
                <div class="shadow">(B to B)</div>
            </li>
            <li class="humane">
                <div>
                    <h2>Humane Apps</h2>
                    <p>(B to C)</p>
                </div>
                <div class="desc">
                    <p>Manage your business with real-world applications that will enable and support your organization’s frontliners and other critical players in your value chain.</p>
                    <a href="" [routerLink]="['/humaneapp']"><button class="btn btn-outline">KNOW MORE ABOUT Humane Apps</button></a>
                </div>
                <div class="shadow">(B to C)</div>
            </li>
            <li class="hybrid">
                <div>
                    <h2>Hybrid Apps</h2>
                    <p>(B to B / B to C)</p>
                </div>
                <div class="desc">
                    <p>Power your digital transformation and get robust support and connectivity for the complex, multi-level, multi-channel, and multi-platform ecosystem of today’s marketplaces and workplaces.</p>
                    <a href="" [routerLink]="['/hybridapp']"><button class="btn btn-outline">KNOW MORE ABOUT Hybrid Apps</button></a>
                </div>
                <div class="shadow">(B to B)(B to C)</div>
            </li>
        </ul>
    </section>
</div>
<div class="partner-with-us-wrapper">
    <app-partner-with-us></app-partner-with-us>
</div>  
<div class="footer-wrapper">
    <app-footer></app-footer>
</div>