#services {
    .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        position: relative;

        h1 {
            font-size: 6rem;
            margin: 10px 0 0 0;
            font-weight: bolder;
        }

        p {
            margin: 0;
            font-size: 1.5rem;
            font-weight: 500;
        }

        &:before, &:after {
            position: absolute;
            bottom: 0;
        }

        &:before {
            content: '';
            left: 17rem;
            background-image: url('../../../assets/images/services-image-1.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 350px;
            width: 130px;
        }

        &:after {
            content: '';
            right: 8rem;
            background-image: url('../../../assets/images/services-image-2.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 350px;
            width: 300px;
        }
    }

    .service-list {
        .service-item {
            border: 3px solid white;
            border-radius: 30px;
            padding: 2rem 3rem;
            height: 500px;
            position: relative;

            .item-icon {
                width: 60px;
                height: 60px;
            }

            h2, p {
                color: white;
            }

            h2 {
                font-size: 4rem;
            }

            p {
                font-size: 1.5rem;
                position: absolute;
                top: 30rem;
                left: 3rem;
                right: 3rem;
            }

            .btn-wrapper {
                position: absolute;
                bottom: 2rem;
                text-align: center;
                left: 0;
                right: 0;

                .btn {
                    background-color: transparent;
                    text-align: center;
                    width: 230px;
                    border-color: white;
                    text-transform: uppercase;
                }
            }
        }

        #business {
            background-color: #18488A;
        }

        #partnership {
            background-color: #F4BA6D;

            h2, p {
                color: black;
            }

            .btn-wrapper {
                .btn {
                    color: black;
                    border-color: black;
                }
            }
        }
        
        #design {
            background-color: #466F7A;

            .item-icon {
                width: 35px;

                img {
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    #services {
        .banner {
            &::before {
                left: 2rem;
            }

            .wrapper {
                margin-left: -13rem;
            }

            &::after {
                right: 2rem;
            }
        }
        .service-list {
            .service-item {
                height: 560px;
            }
        }
    }
}

@media (max-width: 800px) {
    #services {
        .banner {
            &::before, &::after {
                display: none;
            }

            .wrapper {
                margin: auto;
            }
        }

        .service-list {
            .service-item {
                width: 60%;
                margin: 0 auto 3rem auto;
            }
        }
    }
}

@media (max-width: 400px) {
    #services {
        .banner {
            padding: 0 2rem;
        }
        
        .service-list {
            .service-item {
                width: 100%;
                margin: 0 auto 3rem auto;
            }
        }
    }
}