<app-header></app-header>
<div class="view" id="services">
    <div class="tagline">
        <h2>Navigate business better,<br><span>To unlimit the world of work.</span></h2>
    </div>
    <div class="service-list">
        <div class="row">
            <div class="col-lg-4">
                <div class="service" id="business">
                    <h2>Business App <br> Consulting</h2>
                    <hr>
                    <p>Our business application experts deliver advisory and system design solutions in the areas of process transformation, operational performance, customer engagement, and workforce productivity. </p>
                    <div class="learn-btn"><a href=""><button>Learn More</button></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service" id="partnership">
                    <h2>Co-Strategic <br> Partnerships</h2>
                    <hr>
                    <p>Expert services from to senior level consultants to unlock strategic adoption of new technologies and processes, closely aligned with your business and your other technology partners.</p>
                    <div class="learn-btn"><a href=""><button>Learn More</button></a></div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service" id="solutions">
                    <h2>Design Thinking <br> Solution</h2>
                    <hr>
                    <p>Design and delivery of services, strategic insight and products that build on the human strength and uniqueness of your business and your customers.</p>
                    <div class="learn-btn"><a href=""><button>Learn More</button></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>