<app-header></app-header>
<div id="{{page}}" class="view">
    <div class="back"><a href="" [routerLink]="['/humaneapp']">Back</a></div>
    <section class="service">
        <div class="section-title">Humane Apps</div>
        <div class="content">
            <h2 *ngIf="page !== 'moocentral'">{{data.title}}</h2>
            <h2 *ngIf="page === 'moocentral'"><img src="assets/images/humane-image-7.png"/></h2>
            <p>{{data.desc}}</p>
            <div class="image-container">
                <div *ngIf="page === 'sales'"><img src="assets/images/humane-image-3.png" /></div>
                <div *ngIf="page === 'kioskart'"><img src="assets/images/humane-image-4.png" /></div>
                <div *ngIf="page === 'moocentral'"><img src="assets/images/humane-image-8.png" /></div>
            </div>
            <div class="btn-container">
                <div><button class="btn btn-blue" [routerLink]="['/partnerWithUs']">KNOW MORE ABOUT {{data.title}}</button></div>
            </div>
        </div>
    </section>
</div>