@import '../../../constants.scss';

.view {
    background-color: $yellow;
    height: 100vh;
    background-image: url('../../../../assets/images/humane-image-2.png');
    background-repeat: no-repeat;
    background-position: 107% 90%;

    .back {
        a {
            color: black;
        }

        &::before {
            background-image: url('../../../../assets/images/icons/back-dark.png');
        }
    }

    .service {
        position: relative;

        .content {
            width: 90%;
            margin: 2rem auto;
            text-align: center;

            h2 {
               background-color: $dark-blue;
               padding: 10px;
               width: 400px;
               display: inline-block;
               margin: 0;
               color: white;
               text-transform: uppercase;
               letter-spacing: 3px;
            }

            p {
                font-size: 1rem;
                line-height: 1.8;
            }

            .image-container {
                & > div {
                    max-width: 40%;
                    margin: auto;
                }
            }

            .btn-container {
                margin-top: 25px;
            }
        }
    }
}

#kioskart {
    background-image: url('../../../../assets/images/humane-image-5.png');
    background-position: 112% 90%;

    .content {
        h2 {
            background-color: $green-blue;
        }

        .image-container {
            & > div {
                max-width: 25%;
            }
        }

        .btn-container {
            button {
                background-color: $green-blue;
            }
        }
    }
}

#moocentral {
    background-image: url('../../../../assets/images/humane-image-6.png');
    background-color: white;
    background-position: center;
    background-size: contain;

    .content {
        h2 {
            background-color: transparent;
            width: 120px;
        }

        .btn-container {
            button {
                background-color: $teal;
            }
        }
    }
}

@media (max-width: $mobile) {
    .view {
        height: auto;
        background-position: 200% 99%;
        background-size: 80%;

        .service {
            .content {
                h2 {
                    width: 100%;
                }

                .image-container {
                    & > div {
                        max-width: 100%;
                    }
                }

                .btn-container {
                    padding-bottom: 20px;
                }
            }
        }
    }

    #kioskart {
        .content {
            .image-container {
                & > div {
                    max-width: 100%;
                }
            }
        }
    }
}