<app-header></app-header>
<div class="view" id="careers">
    <div class="career-wrapper">
        <div class="section">
            <div class="section-content empty"></div>
        </div>
        <div class="section" id="career-desc">
            <div class="section-title">Careers</div>
            <div class="section-content">
                <p>At Kation Technologies, we believe that technology is made by people, for the people.</p>
                <p>As a Filipino company, we look for people who seek to elevate the Filipino IT talent to the world stage and create value for our clients, people and communities.</p>
                <p>Grow your career with us. Bring your pioneering mindset and determination, and together, let’s create positively charged connections.</p>
            </div>
        </div>
        <div class="section" id="career-list">
            <div class="sub-section-title">Vacancies</div>
            <div class="career-list-content">
                <div class="row list">
                    <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let career of careerList">
                        <div class="vacancy">
                            <p>{{career.title}} <br> {{career.subtitle}}</p>
                            <div class="know-btn" (click)="getCareerDetails(career.id)"><button>Know More</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section" id="experiences">
            <div class="sub-section-title">Experiences with Kation</div>
            <div class="section-content">
                <div class="team-wrapper" id="member-1">
                    <div class="member-detail">
                        <div class="member">
                            <img src="assets/images/team-joshua.png" />
                            <div class="meta">
                                <div>
                                    <p class="name">Joshua Oducado <br> Software Developer</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#joshua"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="joshua" class="full-desc collapse">
                        <div class="desc">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#joshua"/></div>
                            <p>“ I like working in Kation because of the Opportunities for career growth, and tons of career development resources available. The company attracts some of the best talent and best people to work with in the world. I’ve always aspired to be “world-class”; the very best in my field/specialty. Being a part of a company that shares the same goal.The feeling is just surreal.”</p>
                            <hr>
                            <p class="name">Joshua Oducado <br> Software Developer</p>
                        </div>
                    </div>
                </div>

                <div class="team-wrapper" id="member-2">
                    <div class="member-detail">
                        <div class="member">
                            <img src="assets/images/team-alvin.png" />
                            <div class="meta">
                                <div>
                                    <p class="name">Alvin Heruela, CPA <br> Senior Business Apps Consultant</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#alvin"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="alvin" class="full-desc collapse">
                        <div class="desc">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#alvin"/></div>
                            <p>“I will always choose to work at KATION Technologies. Our culture values transparency and honesty within the workplace. The leaders treat its employees as valued team members, and are always supportive in achieving our personal and professional growth. These values made me motivated to perform better and be better.”</p>
                            <hr>
                            <p class="name">Alvin Heruela, CPA <br> Senior Business Apps Consultant</p>
                        </div>
                    </div>
                </div>

                <div class="team-wrapper" id="member-3">
                    <div class="member-detail">
                        <div class="member">
                            <img src="assets/images/team-maricel.png" />
                            <div class="meta">
                                <div>
                                    <p class="name">Maricel Javier <br> Business Development Manager</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#maricel"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="maricel" class="full-desc collapse">
                        <div class="desc">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#maricel"/></div>
                            <p>“I really love working in Kation because it’s challenging and inspiring. It’s role and not the position basis. The people are warm-hearted, the workspace is very cool and work schedules is flexible. There’s a lot of new learning which are valuable and up to date, and lastly I found the right work place at the right time for me -a family oriented one.”</p>
                            <hr>
                            <p class="name">Maricel Javier <br> Business Development Manager</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="careers-des-image"><img src="assets/images/team-image-5.png"></div>
</div>
<app-footer></app-footer>