#careers {
    position: relative;

    p {
        line-height: 1.8;
        font-size: 1.5rem;
    }

    .sub-section-title {
        position: absolute;
        background-color: #466F7A;
    }

    #career-desc {
        .section-title {
            width: 300px;
        }

        .section-content {
            padding-left: 5rem;

            p {
                width: 60%;
            }
        }
    }

    #career-list {
        .sub-section-title {
            top: -2rem;
        }

        .career-list-content {
            width: 95%;
            margin: auto;

            .list {
                width: 60%;
                padding: 8rem 5rem;

                .vacancy {
                    background-color: #466F7A;
                    height: 230px;
                    margin: auto;
                    border-radius: 25px;
                    padding: 3rem;

                    p {
                        color: white;
                        line-height: 1.5;
                    }

                    .know-btn {
                        position: absolute;
                        bottom: 2rem;
                        left: 2rem;
                        right: 2rem;
                        text-align: center;

                        button {
                            background-color: transparent;
                            border: 1px solid white;
                            text-transform: uppercase;
                            padding: 10px 0;
                            width: 150px;
                            border-radius: 25px;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    #experiences {
        .sub-section-title {
            background-color: #18488A;
            width: 450px;
            top: -2rem;
        }

        .team-wrapper {
            margin-bottom: 8rem;

            .member {
                max-width: 400px;
                margin-left: 25rem;
                position: relative;

                .meta {
                    position: absolute;
                    bottom: 0;
                    right: 7px;
                    left: 0;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    background-color: #466F7A;

                    & > div {
                        position: relative;

                        .name {
                            margin: 0;
                            color: white;
                            padding: 20px 40px 20px 20px;
                            line-height: 1.5;
                            text-align: right;
                        }

                        .toggle-arrow {
                            width: 20px;
                            position: absolute;
                            bottom: 5px;
                            right: 8px;
                        }
                    }
                }
            }
        }

        .full-desc {
            background-color: #466F7A;
            width: 60%;
            margin: -84px 0 0px 15px;
            z-index: 1;
            position: relative;
            padding: 2rem 3rem;
            border-radius: 20px;
            color: white;

            &::before {
                position: absolute;
                content: "";
                background-image: url('../../../assets/images/bubble-team-point.png');
                width: 40px;
                height: 55px;
                top: -34px;
                background-size: 100% 100%;
                left: 7rem;
                background-repeat: no-repeat;  
            }

            .desc {
                text-align: right;

                &::before {
                    content: "\201C";
                    font-size: 15rem;
                    position: absolute;
                    left: 2rem;
                    top: -2rem;
                }

                .toggle-arrow-back {
                    text-align: right;
                    
                    img {
                        width: 25px;
                        cursor: pointer;
                    }
                }

                p {
                    margin-left: 10rem;
                }
            }
        }

        #member-1 {
            .member-detail {
                background-image: url('../../../assets/images/exp-bg-1.png');
                background-repeat: no-repeat;
                background-size: 200px;
                background-position: 73% 50%;
            }
        }

        #member-2 {
            display: inline-block;
            width: 100%;
            position: relative;

           .member-detail {
                background-image: url('../../../assets/images/exp-bg-2.png');
                background-repeat: no-repeat;
                background-size: 250px;
                height: 300px;
                background-position: 30% 50%;

               .member {
                    float: right;
                    margin-right: 15rem;
               }
           }

           .full-desc {
               float: right;
               margin-right: 15px;
           }
        }

        #member-3 {
            .member-detail {
                background-image: url('../../../assets/images/exp-bg-3.png');
                background-repeat: no-repeat;
                background-size: 200px;
                background-position: 73% 50%;
            }
        }
    }
}

.careers-des-image {
    position: absolute;
    top: 4%;
    right: 0;
    width: 600px;
}

@media (max-width: 720px) {
    .careers-des-image {
        display: none;
    }

    #careers {
        #career-desc {
            .section-content {
                p {
                    width: 100%;
                }
            }
        }

        #career-list {
            .career-list-content {
                .list {
                    width: 100%;

                    & > div {
                        max-width: 300px;
                        margin: 10px auto;
                    }
                }
            }
        }

        #experiences {
            #member-1 {
                .member-detail {
                    background-image: none;
                }
            }

            #member-2, #member-3 {
                .member-detail {
                    background-image: none;

                    .member {
                        float: none;
                        margin: auto;
                    }
                }

                .full-desc {
                    margin-top: -108px;
                }
            }

            .team-wrapper {
                .member {
                    max-width: 300px;
                    width: 100%;
                    margin: auto;
                }
            }

            .full-desc {
                width: 95%;
                margin: -84px auto 0px auto;

                .desc {
                    p {
                        margin-left: 5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #careers {
        

        #career-list {
            .sub-section-title {
                width: 250px;
            }

            .career-list-content {
                .list {
                    width: 100%;
                    padding: 5rem 2rem;

                    .vacancy {
                        max-width: 200px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 380px) {
    #careers {
        #experiences {
            .sub-section-title {
                width: 300px;
            }
        }

        #career-desc {
            .section-content {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
        }
    }
}