#about-us {
    background-image: url('../../../assets/images/bg2.png');
    background-size: 100%;
    padding-right: 20px;

    .section-title {
        padding: 10px 50px;
        width: 91%;
    }

    p {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: justify;
    }
    
    #wwa {
        margin-top: 3rem;
        padding-bottom: 4rem;

        .left-content {
            p {
                text-align: justify;
                font-size: 1.5rem;
                margin-top: 2rem;
                line-height: 1.5;
                padding-right: 4rem;
            }
        }

        .right-content {
            padding-right: 8rem;
            position: relative;

            .with-border {
                position: absolute;
                top: 0;

                .wwa-image-1 {
                    width: 800px;
                    height: 450px;
                }
    
                .border {
                    width: 800px;
                    height: 450px;
                }
                
            }
        }
    }

    #hww {
        margin-top: 8rem;

        .left-content {
            .section-title {
                width: 50%;
            }
        }

        .right-content {
            position: relative;

            .hww-image-1 {
                position: absolute;
                width: 200px;
                top: 100px;
                left: -50px;
            }
        }
    }

    #wwwu {
        margin-top: 6rem;

        .left-content {
            .section-title {
                width: 50%;
            }
        }
    }

    #awards {
        margin-top: 8rem;
        padding-bottom: 5rem;

        .left-content {
            .section-title {
                width: 50%;
            }

            p {
                margin-top: 2rem;
            }

            .award-item {
                margin-top: 3rem;

                .award-image {
                    width: 200px;
                    height: 200px;
                    margin: auto;
                    border-radius: 15px;
                    overflow: hidden;
                }

                .award-desc {
                    h4 {
                        text-transform: uppercase;
                        width: 50%;
                        margin: 10px auto;
                        text-align: center;
                        line-height: 1.5;
                        letter-spacing: 2px;
                        font-size: 1.3rem;
                    }

                    p {
                        width: 60%;
                        text-align: center;
                        margin: auto;
                    }
                }
            }
        }

        .right-content {
            .awards-image-1 {
                width: 540px;
                height: 600px;
                
                img {
                    border-radius: 20px;
                    overflow: hidden;
                }
            }

            .border {
                width: 540px;
                height: 590px;
            }

            h4 {
                font-weight: bold;
                text-align: right;
                padding-right: 30px;
                line-height: 1.5;
            }
        }
    }

    #ot {
        .team-name {
            text-align: right;
            float: right;
            margin-right: 10rem;
            
            p {
                margin: 0;
                color: #18488A;
            }
        }

        .left-content {
            .section-title {
                width: 50%;
            }

            .team-details {
                margin-left: 150px;
                background-color: #18488A;
                padding: 2rem 10rem 2rem 2rem;
                border-radius: 20px;

                p {
                    color: white;
                    font-size: 1.4rem;
                    text-align: right;
                }
            }

            .team-1 {
                margin-right: -150px;
                margin-top: 200px;
            }

            .ot-image-2, .ot-image-3, .ot-image-4 {
                width: 200px;
                margin: -3rem 0 3rem 20rem;
            }

            .ot-image-3 {
                margin-left: 25rem;
            }
        }

        .right-content {
            margin-top: 20rem;

            .with-border {
                width: 420px;
                height: 420px;
                margin: auto;

                .ot-image-1 {
                    width: 400px;
                    height: 400px;
                    overflow: hidden;
                    border-radius: 20px;
                }

                .border {
                    border-color: #18488A;
                    width: 400px;
                    height: 400px;
                }
            }
        }

        .team-section {
            .right-content {
                margin: 0;
            }
        }
    }
}

@media (max-width: 1024px) {
    #about-us {
        .section-title {
            width: 65% !important;
        }

        #wwa {
            .right-content {
                .with-border {
                    .wwa-image-1 {
                        width: 550px;
                        height: auto;
                    }
                }
            }

            .left-content {
                .section-title {
                    width: 95% !important;
                }
            }
        }

        #hww {
            margin-top: 1rem;
        }

        #awards {
            .right-content {
                .awards-image-1 {
                    width: 400px;
                    height: 400px;
                }
            }
        }

        #ot {
            .team-name {
                margin-right: 1rem;
            }

            .right-content {
                .with-border {
                    width: 330px;
                    height: 330px;
                    float: right;

                    .ot-image-1 {
                        width: 100%;
                    }
                }
            }

            .left-content {
                .team-details {
                    margin-left: 70px;
                }

                .team-1 {
                    margin-top: 10rem;
                }
            }
        }
    }

    // #about-us {
    //     #wwa {
    //         .right-content {
    //             .with-border {
    //                 position: relative;
    //                 margin: auto;

    //                 .wwa-image-1 {
    //                     margin: auto;
    //                 }
    //             }
    //         }
    //     }

    //     #hww {
    //         margin-top: 3rem;

    //         .right-content {
    //             .hww-image-1 {
    //                 position: relative;
    //                 margin: auto;
    //                 top: 0;
    //             }
    //         }
    //     }
    // }
}