#about-us {
    p {
        font-size: 1.5rem;
        line-height: 1.8;
    }

    .about-us-wrapper {
        position: relative;

        #wwa {
            .section-title {
                width: 400px;
            }

            .section-content {

                p {
                    width: 85%;
                    margin: auto;
                }

                .image-container {
                    position: absolute;
                    top: -11rem;
                    right: -2rem;
                    z-index: 1;
                    padding-left: 23px;
                }
            }
        }

        #hww {
            .section-title {
                width: 400px;
            }

            .section-content {
                p {
                    width: 60%;
                    padding-left: 5rem;
                }
            }
        }

        #wwwu {
            position: relative;

            .section-content {
                p {
                    width: 60%;
                    padding-left: 5rem;
                }

                img {
                    position: absolute;
                    width: 250px;
                    top: -24%;
                    right: 13%;
                }
            }
        }

        #awards {
            .section-title {
                position: absolute;
                top: -3rem;
                width: 300px;
            }

            .awards-content {
                padding: 8rem 4rem 8rem 4rem;
                width: 95%;
                margin: auto;
            }

            .award-desc {
                text-align: center;
                margin-top: 3rem;

                img {
                    width: 200px;
                    margin: auto;
                }

                h3 {
                    font-size: 1.5rem;
                    font-family: "Montserrat-Bold";
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    line-height: 1.5;
                }

                hr {
                    border: 1px solid black;
                    width: 80%;
                }
            }

            .image-caption {
                text-align: right;
                font-family: "Montserrat-Bold";
                line-height: 1.5;
                margin-top: 5px;
            }
        }

        #mot {
            .section-title {
                width: 400px;
                position: absolute;
                top: -3rem;
            }

            .section-content {
                padding-left: 5rem;
                padding-right: 5rem;

                p {
                    width: 70%;
                }

                .team-list {
                    margin-top: 3rem;

                    .member-wrapper {
                        margin-bottom: 10rem;

                        .member-details {
                            max-width: 500px;
                            margin: auto;
                            position: relative;

                            .meta {
                                background-color: #18488A;
                                position: absolute;
                                bottom: 0;
                                width: 482px;
                                border-bottom-left-radius: 20px;
                                border-bottom-right-radius: 18px;
                                padding: 10px;

                                & > div {
                                    position: relative;

                                    p {
                                        color: white;
                                        margin: 0;
                                        width: 100%;
                                        font-size: 1.5rem;
                                        text-align: right;
                                        padding-right: 35px;
                                        padding-bottom: 10px;

                                        span {
                                            font-family: "Montserrat-Bold";
                                        }
                                    }

                                    .toggle-arrow {
                                        position: absolute;
                                        bottom: 0px;
                                        right: 0px;
                                        width: 25px;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }

                        .full-desc {
                            background-color: #18488A;
                            width: 70%;
                            margin: -75px 0 0 15rem;
                            z-index: 1;
                            position: relative;
                            padding: 3rem 4rem;
                            border-radius: 20px;
                            color: white;
                            text-align: right;

                            .toggle-arrow-back {
                                text-align: right;

                                img {
                                    width: 20px;
                                }
                            }

                            p {
                                width: 100%;
                                margin: auto;
                                clear: both;
                                margin-bottom: 20px;

                                span.bold {
                                    font-family: "Montserrat-Bold";
                                }
                            }

                            hr {
                                width: 70%;
                                float: right;
                            }
                        }
                    }

                    #team-1 {
                        background-image: url('../../../assets/images/team-bg-1.png');
                        background-size: 140px;
                        background-repeat: no-repeat;
                        background-position: 100px 0;
                    }

                    #team-2 {
                        background-image: url('../../../assets/images/team-bg-2.png');
                        background-size: 250px;
                        background-repeat: no-repeat;
                        background-position: 1000px 80px;
                    }

                    #team-3 {
                        background-image: url('../../../assets/images/team-bg-3.png');
                        background-size: 210px;
                        background-repeat: no-repeat;
                        background-position: 100px 95px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    #about-us {
        .about-us-wrapper {
            #wwa {
                .section-title {
                    width: 60%;
                }

                .section-content {
                    .image-container {
                        position: relative;
                        top: 0;
                        left: 0;
                        right: 0;
                        padding: 0;
                    }
                }
            }

            #hww {
                .section-title {
                    width: 70%;
                }

                .section-content {
                    p {
                        width: 100%;
                        padding: 0 3rem;
                    }
                }
            }

            #wwwu {
                .section-content {
                    img {
                        display: none;
                    }

                    p {
                        width: 100%;
                        padding: 0 3rem;
                    }
                }
            }

            #awards {
                .awards-content {
                    padding: 4rem 1rem;
                }
            }

            #mot {
                .section-title {
                    width: 70%;
                }

                .section-content {
                    padding-top: 5rem;

                    p {
                        width: 100%;
                    }

                    .team-list {
                        .member-wrapper {
                            .member-details {
                                .meta {
                                    width: 96%;
                                    border-bottom-left-radius: 19px;
                                    border-bottom-right-radius: 15px;
                                }
                            }

                            .full-desc {
                                width: 350px;
                                margin: -112px 0 0 -30px;
                            }
                        }

                        #team-1, #team-2, #team-3 {
                            background-image: none;
                        }
                    }
                }
            }
        }
    }
}