<app-header></app-header>
<div class="view" id="about-us">
    <div class="about-us-wrapper">
        <div class="section">
            <div class="section-content empty"></div>
        </div>
        <div class="section" id="wwa">
            <div class="section-title">Who we are</div>
            <div class="section-content">
                <div class="row">
                    <div class="col-lg-4">
                        <p>Founded in 2015, Kation Technologies is an IT solutions company in the Philippines serving clients who seek to digitally transform their businesses. Kation Technologies is a Microsoft Gold Partner which began as the largest Filipino Certified Microsoft Dynamics AX Partner, and is now a pioneer in implementing and creating solutions for all three Microsoft Clouds on the Microsoft Dynamics 365 M365 and Azure platforms.</p>
                    </div>
                    <div class="col-lg-8">
                        <div class="image-container">
                            <img src="assets/images/about-us-image-1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section" id="hww">
            <div class="section-title">How we work</div>
            <div class="section-content">
                <p>As your trusted partner, our goal is to bring you peace of mind by empowering your business to be operationally excellent and make KPI monitoring easier. We can help you level up your workforce productivity using human-centered design, tools, and systems on platforms that best suit your needs. </p>
            </div>
        </div>

        <div class="section" id="wwwu">
            <div class="section-title">Why work with us</div>
            <div class="section-content">
                <p>When you work with us, expect a high degree of responsiveness, reliability, and collaboration. We seek long-term partnerships with clients across industries, whether it be in the areas of manufacturing, retail, distribution, hospitality or education. We bring the tools, the people, and the commitment necessary to help you achieve the maximum potential of your business.</p>
                <img src="assets/images/about-us-bg-1.png">
            </div>
        </div>

        <div class="section" id="awards">
            <div class="section-title">Awards</div>
            <div class="row awards-content">
                <div class="col-lg-7">
                    <p>Kation Technologies is proud to have been recognized as a reliable partner in accelerating digital transformation for organizations. We work hard to bring businesses, technology, and people together throughout work.</p>
                    <div class="award-desc">
                        <img src="assets/images/award.png" />
                        <h3>Biz Apps Customer Recruit Award <br>Partner of the Year  <br>Microsoft Philippines Partner Awards FY20 </h3>
                        <hr>
                        <p>The award is given to Microsoft partners who are successful in accelerating tech intensity and AI-enabled digital transformation for organizations.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="awards-image">
                        <img src="assets/images/carousel-award.png" />
                    </div>
                    <p class="image-caption">Biz Apps Customer Recruit Award <br>Partner of the Year <br>Microsoft Philippines Partner Awards FY20 </p>
                </div>
            </div>
        </div>

        <div class="section" id="mot">
            <div class="section-title">Meet our team</div>
            <div class="section-content">
                <p>We believe that technology is made by people, for the people, and so, every person in Kation Technologies is committed to “always successful projects,” even as we continuously invest in each other, and push ourselves to maximize our potential.</p>
                <div class="team-list">
                    <div class="member-wrapper" id="team-1">
                        <div class="member-details">
                            <img src="assets/images/andoni.png">
                            <div class="meta">
                                <div>
                                    <p><span>Andoni Albert</span><br>President and CEO, Kation Technologies</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#andoni"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-desc collapse" id="andoni">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#andoni"/></div>
                            <p><span>Andoni Albert</span><br>President, Kation Technologies</p>
                            <hr>
                            <p>Andoni Albert <br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                            <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                            <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                        </div>
                    </div>

                    <div class="member-wrapper" id="team-2">
                        <div class="member-details">
                            <img src="assets/images/norbert.png">
                            <div class="meta">
                                <div>
                                    <p><span>Norbert Balza</span><br>COO, Kation Technologies</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#norbert"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-desc collapse" id="norbert">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#norbert"/></div>
                            <p><span>Norbert Balza</span><br>COO, Kation Technologies</p>
                            <hr>
                            <p>Andoni Albert <br>is our Chief Operations Officer.</p>
                        </div>
                    </div>

                    <div class="member-wrapper" id="team-3">
                        <div class="member-details">
                            <img src="assets/images/dona.png">
                            <div class="meta">
                                <div>
                                    <p><span>Dona Lim</span><br>Customer Success Mgr, Kation Technologies</p>
                                    <div class="toggle-arrow" data-toggle="collapse" data-target="#dona"><img src="assets/images/icons/toggle-arrow.png" /></div>
                                </div>
                            </div>
                        </div>
                        <div class="full-desc collapse" id="dona">
                            <div class="toggle-arrow-back"><img src="assets/images/icons/toggle-arrow-back.png" data-toggle="collapse" data-target="#dona"/></div>
                            <p><span>Dona Lim</span><br>Customer Success Mgr, Kation Technologies</p>
                            <hr>
                            <p>Dona Lim <br>is our Customer Success Mgr, Kation Technologies.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>