<app-header></app-header>
<div id="aboutUs" class="view">
    <section class="section-1">
        <div class="with-bg">
            <div class="section-title">Who we are</div>
            <p>Founded in 2015, Kation Technologies is an IT solutions company in the Philippines serving clients who seek to digitally transform their businesses. Kation Technologies is a Microsoft Gold Partner which began as the largest Filipino Certified Microsoft Dynamics AX Partner, and is now a pioneer in implementing and creating solutions for all three Microsoft Clouds on the Microsoft Dynamics 365 M365 and Azure platforms.</p>

            <div class="section-title margin-top-50">What we believe in</div>
            <p>Kation is derived from the word <i>“cation”</i>, which means positively charged ions. At Kation Technologies, we believe in the power of creating positively charged connections. We believe in allowing our customers to make better decisions and bringing efficiency to make their business grow.</p>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="../../../assets/images/about-us-image-1.png"/></div>
                    <div class="bubble-wrapper">
                        <p>KATION is a very <br> comfortable workplace!</p>
                        <span>Name</span> <br>
                        <span>Position</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
        <div class="with-bg">
            <div class="section-title">How we work</div>
            <p>As your trusted partner, our goal is to bring you peace of mind by empowering your business to be operationally excellent and make KPI monitoring easier. We can help you level up your workforce productivity using human-centered design, tools, and systems on platforms that best suit your needs.</p>

            <div class="section-title margin-top-50">Why work with us</div>
            <p>When you work with us, expect a high degree of responsiveness, reliability, and collaboration. We seek long-term partnerships with clients across industries, whether it be in the areas of manufacturing, retail, distribution, hospitality or education. We bring the tools, the people, and the commitment necessary to help you achieve the maximum potential of your business.</p>
        </div>
        <div class="plain">
            <div class="design-image">
                <img src="../../../assets/images/about-us-image-2.png"/>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="with-bg">
            <div class="section-title">Awards</div>
            <p>Kation Technologies is proud to have been recognized as a reliable partner in accelerating digital transformation for organizations. We work hard to bring businesses, technology, and people together throughout work.</p>
            <div class="award">
                <div class="award-image"><img src="../../../assets/images/award.png" alt="award-image"/></div>
                <div class="award-title">Biz Apps Customer Recruit Award Partner of the Year <br> Microsoft Philippines Partner Awards FY20 </div>
                <div class="award-desc">The award is given to Microsoft partners who are successful in accelerating tech intensity and AI-enabled digital transformation for organizations.</div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="../../../assets/images/award-big.png"/></div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-4">
        <div class="with-bg">
            <div class="section-title">Testimonials</div>
            <p>In everything we do, we make sure to create value for our clients. Hear from our previous and current partners about our journey together.</p>
            <div class="testimonial-video">
                <div class="customer-testimonial">Jimini Pizza</div>
                <div class="video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/9xBWFfZKdXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="see-more-wrapper">
                    <button class="btn btn-blue">Interested to see more</button>
                </div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="../../../assets/images/about-us-image-1.png"/></div>
                    <div class="bubble-wrapper">
                        <p>KATION is a very <br> comfortable workplace!</p>
                        <span>Name</span> <br>
                        <span>Position</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-5">
        <div class="with-bg">
            <div class="testimonial-video">
                <div class="customer-testimonial">Candy Corner</div>
                <div class="video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/9xBWFfZKdXc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="see-more-wrapper">
                    <button class="btn btn-blue">Interested to see more</button>
                </div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="../../../assets/images/about-us-image-1.png"/></div>
                    <div class="bubble-wrapper">
                        <p>KATION is a very <br> comfortable workplace!</p>
                        <span>Name</span> <br>
                        <span>Position</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-6">
        <div class="with-bg">
            <div class="testimonial-video">
                <div class="customer-testimonial">Messy Bessy</div>
                <div class="video">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/J-Ng9Rob18Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="see-more-wrapper">
                    <button class="btn btn-blue">Interested to see more</button>
                </div>
            </div>
        </div>
        <div class="plain">
            <div class="image-border">
                <div class="content">
                    <div class="border"></div>
                    <div class="image"><img src="../../../assets/images/about-us-image-1.png"/></div>
                    <div class="bubble-wrapper">
                        <p>KATION is a very <br> comfortable workplace!</p>
                        <span>Name</span> <br>
                        <span>Position</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="partner-with-us-wrapper">
    <app-partner-with-us></app-partner-with-us>
</div>  
<app-footer></app-footer>