<app-header></app-header>
<div class="view" id="about-us">
    <div id="wwa">
        <div class="row">
            <div class="col-lg-4 col-md-5 col-sm-12 left-content">
                <div class="section-title">Who we are</div>
                <p class="inner-content">Founded in 2015, Kation Technologies is an IT solutions company in the Philippines serving clients who seek to digitally transform their businesses. Kation Technologies is a Microsoft Gold Partner which began as the largest Filipino Certified Microsoft Dynamics AX Partner, and is now a pioneer in implementing and creating solutions for all three Microsoft Clouds on the Microsoft Dynamics 365 M365 and Azure platforms.</p>
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12 right-content">
                <div class="with-border">
                    <div class="wwa-image-1"><img src="assets/images/about-us-image-1.png" loading="lazy"/></div>
                </div>
            </div>
        </div>
    </div>
    <div id="hww">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 left-content">
                <div class="section-title">How we work</div>
                <p class="inner-content">As your trusted partner, our goal is to bring you peace of mind by empowering your business to be operationally excellent and make KPI monitoring easier. We can help you level up your workforce productivity using human-centered design, tools, and systems on platforms that best suit your needs. </p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 right-content">
                <div class="hww-image-1"><img src="assets/images/about-us-image-2.png" loading="lazy"/></div>
            </div>
        </div>
    </div>
    <div id="wwwu">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 left-content">
                <div class="section-title">Why work with us</div>
                <p class="inner-content">When you work with us, expect a high degree of responsiveness, reliability, and collaboration. We seek long-term partnerships with clients across industries, whether it be in the areas of manufacturing, retail, distribution, hospitality or education. We bring the tools, the people, and the commitment necessary to help you achieve the maximum potential of your business.</p>
            </div>
        </div>
    </div>
    <div id="awards">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 left-content">
                <div class="section-title">Awards</div>
                <p class="inner-content">Kation Technologies is proud to have been recognized as a reliable partner in accelerating digital transformation for organizations. We work hard to bring businesses, technology, and people together throughout work. </p>
                <div class="award-item">
                    <div class="award-image">
                        <img src="assets/images/award-image-1.png" loading="lazy" alt="award-image"/>
                    </div>
                    <div class="award-desc">
                        <h4>Biz Apps Customer Recruit Award Partner of the Year Microsoft Philippines Partner Awards FY20 </h4>
                        <p>The award is given to Microsoft partners who are successful in accelerating tech intensity and AI-enabled digital transformation for organizations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 right-content">
                <div class="with-border">
                    <div class="awards-image-1"><img src="assets/images/carousel-award.png" loading="lazy"/></div>
                </div>
                <h4>Biz Apps Customer Recruit Award <br>Partner of the Year <br>Microsoft Philippines Partner Awards FY20 </h4>
            </div>
        </div>
    </div>
    <div id="ot" class="for-web">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 left-content">
                <div class="section-title">Meet Our team</div>
                <p class="inner-content">
                    We believe that technology is made by people, for the people, and so, every person in Kation Technologies is committed to “always successful projects,” even as we continuously invest in each other, and push ourselves to maximize our potential.
                </p>
                <div class="team-1 team-details">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
                <div class="ot-image-2"><img src="assets/images/team-image-bg-1.png"></div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 right-content">
                <div class="with-border">
                    <div class="ot-image-1"><img src="assets/images/andoni.png"></div>
                </div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br>
                        President, Kation Technologies</p>
                </div>
            </div>
        </div>
        <div class="row team-section">
            <div class="col-lg-7 col-md-7 left-content">
                <div class="team-1 team-details">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
                <div class="ot-image-3"><img src="assets/images/team-image-bg-2.png"></div>
            </div>
            <div class="col-lg-5 col-md-5 right-content">
                <div class="with-border">
                    <div class="ot-image-1"><img src="assets/images/placeholder.png"></div>
                </div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br>
                        President, Kation Technologies</p>
                </div>
            </div>
        </div>
        <div class="row team-section">
            <div class="col-lg-7 col-md-7 left-content">
                <div class="team-1 team-details">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
                <div class="ot-image-4"><img src="assets/images/section-5-bg.png"></div>
            </div>
            <div class="col-lg-5 col-md-5 right-content">
                <div class="with-border">
                    <div class="ot-image-1"><img src="assets/images/placeholder.png"></div>
                </div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br>
                        President, Kation Technologies</p>
                </div>
            </div>
        </div>
    </div>
    <div id="ot" class="for-mobile">
        <div class="section-title">Our Team</div>
        <div class="ot-content">
            <div class="team-section">
                <div class="ot-image"><img src="assets/images/placeholder.png"></div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br> President, Kation Technologies</p>
                </div>
                <div class="ot-desc">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
            </div>
            <div class="team-section">
                <div class="ot-image"><img src="assets/images/placeholder.png"></div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br> President, Kation Technologies</p>
                </div>
                <div class="ot-desc">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
            </div>
            <div class="team-section">
                <div class="ot-image"><img src="assets/images/placeholder.png"></div>
                <div class="team-name">
                    <p><strong>Andrew Anthony Corpus “Albert”</strong><br> President, Kation Technologies</p>
                </div>
                <div class="ot-desc">
                    <p><strong>Andoni Albert</strong><br>is a Filipino business leader and serial entrepreneur. His ventures have aimed to bring Filipino IT talent to the world stage by engaging businesses of every scale, from multinationals to SMEs.</p>
                    <p>Andoni was among the first students of BS Management Information Systems in Ateneo de Manila University, where he graduated college in 1999, and MS Information Technology and Computer Science in 2001. Since then he has built a number of IT businesses, including Quark Data, PeopleSoft, 24/7 International, and, most recently, Kation Technologies.</p>
                    <p>As President and CEO of Kation, Andoni is focusing on leveraging emerging technologies for SMEs, putting new technology in the hands of frontliners, service professionals, and educators. With Kation, Andoni seeks to elevate workers and communities everywhere.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>