<app-header></app-header>
<div id="business" class="view">
    <div class="back"><a href="" [routerLink]="['/services']">Back</a></div>
    <section class="service">
        <div class="section-title">Business Apps</div>
        <div class="content">
            <p>Our business application experts deliver advisory and system design solutions in the areas of process transformation, operational performance, customer engagement, and workforce productivity. Choose from the selected below.</p>
            <ul>
                <li>
                    <a href="" [routerLink]="['/businessapp', 'customer-engagement']" class="cust-engagement"><p>D365 Customer Engagement</p></a>
                </li>
                <li>
                    <a href="" [routerLink]="['/businessapp', 'finance']" class="finance"><p>D365 Finance and Supply Chain</p></a>
                </li>
            </ul>
        </div>
    </section>
</div>