<app-header></app-header>
<div id="business" class="view">
    <div class="back">Back</div>
    <section class="service">
        <div class="section-title">Business Apps</div>
        <div class="content">
            <p>Dynamics 365’s Customer engagement applications are Microsoft’s first party applications built on the Microsoft Power Platform. Your organization can leverage these applications individually or together to create powerful end-to-end relationships with your customers. While each application provides a specific solution, they share common elements that are the same regardless of the application you are using. This module focuses on the common elements that are used across all the Dynamics 365 customer engagement applications.</p>
            <ul>
                <li>
                    <a href="" [routerLink]="['/businessapp', 'customer-engagement']" class="cust-engagement"><p>D365 Customer Engagement</p></a>
                </li>
                <li>
                    <a href="" [routerLink]="['/businessapp', 'finance']" class="finance"><p>D365 Finance and Supply Chain</p></a>
                </li>
            </ul>
        </div>
    </section>
</div>