p {
    font-size: 1.5rem;
    line-height: 1.8;
}

.sub-section-title {
    background-color: #18488A;
    width: 400px;
}

#business {
    background-color: #18488A;
    padding: 3rem 0 8rem 0;
    position: relative;

    .sub-section-title {
        background-color: #ED672C;
    }

    .business-content-wrapper {
        width: 90%;
        margin: auto;
        padding: 5rem 0;

        p {
            color: white;
            margin-bottom: 3rem;
        }

        .item {
            border: 2px solid white;
            border-radius: 25px;
            background-image: url('../../../assets/images/icons/cust-engagement.png');
            background-size: 70px;
            background-repeat: no-repeat;
            background-position: 35px 25px;
            padding: 9rem 4rem 3rem 4rem;
            height: 1050px;
            color: white;

            h1 {
                font-family: "Montserrat-Bold";
                font-size: 3rem;
            }

            p {
                margin: 3rem 0;
            }

            ul {
                padding: 0 0 0 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: 20px;
                    position: relative;
                    padding-left: 20px;

                    &::before {
                        content: "\2022";
                        font-size: 5rem;
                        color: white;
                        position: absolute;
                        top: -26px;
                        left: 0;
                    }
                }
            }
        }

        #engagement {
            background-image: url('../../../assets/images/icons/finance.png');
            background-size: 60px 65px;
        }
    }

    .image-divider-1 {
        position: absolute;
        bottom: -87px;
        right: 0;
        width: 350px;
        height: 230px;
        z-index: 1;
        background-image: url('../../../assets/images/divider-1.png');
        background-size: 100% 100%;
        background-position: 55px 0;
        background-repeat: no-repeat;
    }
}

#humane {
    background-color: #F4BA6D;
    padding: 5rem 0 0 0;
    position: relative;

    .humane-content {
        width: 90%;
        margin: auto;
        padding: 5rem 0 3rem 0;

        .humane-list {
            margin-top: 8rem;

            .desc {
                padding-top: 5rem;

                &:before {
                    content: "";
                    background-image: url('../../../assets/images/icons/sales.png');
                    width: 50px;
                    height: 55px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                }

                h2 {
                    font-family: "Montserrat-Bold";
                }
            }

            .row {
                margin-bottom: 3rem;
            }
        }

        #kiosk {
            h2 {
                font-family: "Montserrat-Bold";
            }

            .desc {
                position: absolute;
                top: -55px;

                &::before {
                    background-image: url('../../../assets/images/icons/kiosk.png');
                    width: 70px;
                }
            }

            .kiosk-image {
                width: 90%;
                margin-top: 50px;
            }
        }
    }
}

#hybrid {
    background-color: #F4BA6D;
    position: relative;
    padding: 5rem 0;

    .hybrid-content {
        width: 90%;
        margin: auto;
        padding: 5rem 0 3rem 0;

        .moo-item {
            margin-top: 5rem;
            padding-bottom: 5rem;

            .desc {
                padding-top: 5rem;
    
                &:before {
                    content: "";
                    background-image: url('../../../assets/images/hybrid-image-1.png');
                    width: 100px;
                    height: 55px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: 0;
                }
    
                h2 {
                    font-family: "Montserrat-Bold";
                }
            }
        }

    }

    .image-divider-2 {
        position: absolute;
        bottom: -157px;
        right: 60px;
        width: 350px;
        z-index: 1;
    }
}

@media (max-width: 1024px) {
    #business {
        .business-content-wrapper {
            .item {
                height: 1500px;
            }
        }

        .image-divider-1 {
            right: -32px;
            width: 300px;
        }
    }
}

@media (max-width: 770px) {
    #business {
        .business-content-wrapper {
            .item {
                height: auto;
                margin-bottom: 20px;
            }
        }
    }

    #humane {
        .humane-content {
            #kiosk {
                .desc {
                    position: relative;
                }

                .kiosk-image {
                    margin-top: 0;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    #business {
        .business-content-wrapper {
            .item {
                height: auto;
                margin-bottom: 20px;
            }
        }

        .image-divider-1 {
            bottom: -60px;
            right: -46px;
            width: 250px;
        }
    }

    #humane {
        .humane-content {
            #kiosk {
                .desc {
                    position: relative;
                }

                .kiosk-image {
                    margin-top: 0;
                }
            }
        }
    }

    #hybrid {
        .image-divider-2 {
            bottom: -105px;
            right: 25px;
            width: 250px;
        }
    }
}

@media (max-width: 480px) {
    #business {
        padding: 3rem 0;

        .image-divider-1 {
            display: none;
        }
    }

    #hybrid {
        .image-divider-2 {
            display: none;
        }
    }
}

@media (max-width: 380px) {
    .sub-section-title {
        width: 300px;
    }
}